.calendar{
	background: #fff;
	padding-bottom: 30px;
}
.calendar .conbody{
	padding: 10px;
}
.calendar h1{
	margin: 15px 0 0 0;
}
.calendar .team{
	border-top:none;
}
.tabnav{
	width: 960px;
}
#can-nav{
	width: 960px;
	background: #fff;
	/*margin: 30px 0 0;*/
}
.tabunit{
	position: relative;
	min-height: 300px;
}
.loading{
	position: fixed;
}

.tabnav li{
	cursor: pointer;
	width: 126px;
	height: 46px;
	line-height: 46px;
	float: left;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	margin: 0 10px 0 0;
	background: url(/image/tabnav.jpg) no-repeat right center;
}
.tabnav li.active{
	color: #fff;
	background: url(/image/tabnav.jpg) no-repeat left center;
}
.tabmonth{
	background: url(/image/tabbg.png) repeat-x ;
	width: 960px;
	height: 49px;
}
.tabmonth li{
	float: left;	
	margin: 15px 0 10px 32px;
}

.tabmonth li{
	cursor: pointer;
	display: block;
	width: 45px;
	height: 24px;
	text-decoration: none;
	background: url(/image/tab-a.png) no-repeat;
	line-height: 24px;
	text-align: center;
	color: #fff;
}
.tabmonth li.active{
	font-weight: bold;
	color: #333;
	background: url(/image/tab-a-active.png) no-repeat;
}

#can-nav table{
	width: 960px;
}
#can-nav table th{
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	width: 247px;
	border: 1px dashed #ddd;
	border-bottom: 2px solid #ddd;
	background: #fff;
}
#can-nav th.thdate{
	width: 134px;
}
#can-nav .explain{
	position: relative;
}
#can-nav .prompt{
	color: #434343;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	font-size: 11px;
	padding: 5px;
	position: absolute;
	text-align: left;
	width: 250px;
	z-index: 20;
	right: -34px;
	top: 15px;
	display: none;
}

.tabunit table{
	width: 960px;
}
.thead th img{
	vertical-align: middle;
}
.thead th span{
	font-size: 12px;
	font-weight: normal;
}
.unva{

}

.tabunit p{
	margin: 0 0 4px;
}
.tabunit table td{
	padding: 10px;
	border: 1px dashed #ddd;
	text-align: left;
	width: 247px;
	color: #333333;
}
.tabunit table td.date{
	vertical-align: middle;
	width: 135px;
}
.tabunit table td.untd{
	vertical-align: middle;
	text-align: center;
}
.tabunit .star{
	width: 59px;
	/*float: right;*/
	/*margin: 4px 0 0 0;*/
	position: absolute;
	right: 0;
	top: 5px;
}
.tabunit table td p a{
}
.tabunit table td p i{
	color: red;
	font-size: 11px;
	font-style: normal;
}
.tabunit td.date div{
	background: url("/image/table-date.png") no-repeat scroll 0 0 transparent;
	font-weight: bold;
	height: 22px;
	line-height: 12px;
	margin: 0 0 0 26px;
	padding: 10px 10px 10px 0;
	text-align: center;
	width: 56px;
}
.tabunit td.date i{
	color: #666666;
	font-size: 11px;
	font-style: normal;
}

.tabunit td p{
	position: relative;
}
.tabunit td p .cons{

	border: 1px solid #CCCCCC;
	font-size: 11px;
	left: 10px;
	line-height: 14px;

	position: absolute;
	top: 20px;
	z-index: 5;
	width: 160px;
	padding: 3px 4px;

	background: #bfe6fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #bfe6fe 0%, #eff8ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfe6fe), color-stop(100%,#eff8ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bfe6fe 0%,#eff8ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bfe6fe 0%,#eff8ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bfe6fe 0%,#eff8ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bfe6fe 0%,#eff8ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe6fe', endColorstr='#eff8ff',GradientType=0 ); /* IE6-9 */

}

.cons .inq{
	background: url("/image/cal-sprite.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 20px;
	text-indent: -9999px;
	width: 72px;
}
.cons .inq:hover{
	background: url("/image/cal-sprite.png") no-repeat scroll 0 -23px transparent;
}
.cons .det{
	background: url("/image/cal-sprite.png") no-repeat scroll -80px 0 transparent;
	display: block;
	float: left;
	height: 19px;
	margin: 0 0 0 25px;
	text-indent: -9999px;
	width: 53px;
}
.cons .det:hover{
	background: url("/image/cal-sprite.png") no-repeat scroll -80px -23px transparent;
}

.cons .close{
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
	z-index: 6;
	right: 0px;
	top: 0px;
	background: url("/image/close.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
}