/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol {
	list-style-position: inside;
	list-style:none;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input{
	vertical-align: middle;
}
body {
	background: url(/image/body-bg.jpg) no-repeat center top #73ACD9;
    /*font: 16px/130% Arial,Helvetica,sans-serif;*/
    font: 12px/20px Arial,Helvetica,sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Arial, Georgia,"Times New Roman",Times,serif;
    color: #ff7400;
}
h1{
	font-size: 22px;
	margin: 0 0 10px;
	line-height: 1;
}
h2{
	font-size: 19px;
	margin: 0 0 8px;
	line-height: 1;
}
h3{
	font-size: 15px;
	margin: 0 0 5px;
	line-height: 1;
}
h4{
	font-size: 14px;
	line-height: 1;
}
h5{
	font-size: 12px;
	line-height: 1;
}


p{
	margin: 0 0 8px;
}
a {
    color: #1E8BC9;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border: medium none;
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
    content: '';
    display: block;
}


/*the customize styles*/
#wrap{
	width: 980px;
	min-height: 400px;
	margin: 0 auto;
}
#header{
	width: 980px;
	height: 125px;
}
#logo{
	background: url(/image/logo.png) no-repeat 0 0;
	display: block;
	float: left;
	width: 247px;
	height: 90px;
	margin:20px 0 0;
}
#hright {
	float: right;
}
#menu {
	width: 980px;
	height: 41px;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    background: url("/image/nav-bg.png") repeat-x scroll 0 -41px transparent;
}
#menu li{
    list-style: none;
    display: block;
    float: left;
    line-height: 41px;
    background: url("/image/navline.png") no-repeat scroll left center transparent;
}

#menu a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	float: left;
	padding: 0 25px;
    font-family: "Trebuchet MS", Arial, Georgia,"Times New Roman",Times,serif;
	font-size: 16px;	
	font-weight: bold;
}
#menu li.active a, 
#menu li a:hover{
    background: url("/image/nav-bg.png") repeat-x scroll 0 0 transparent; 
    color: #ff7400;
}
#mainbody{
	width: 960px;
	padding: 10px;
	background: url(/image/bottom.png) no-repeat center bottom #fff;
}
.breadcrum{
	margin: 0 0 10px;
}



