/*guide*/

.guidesd p{
	padding: 6px;
}
.guidesd p a{
	font-size: 14px;
	color:#333; 
	line-height: 20px;
}

.guidesd dd a{
	background: url(/image/li-disc2.gif) no-repeat 3px center;
	padding: 0 0 0 14px;
	color: #333;
} 
.guidesd dd a:hover{
	background: url(/image/li-disc2.gif) no-repeat 3px center;
	color: #004B93;	
}
.hotdeals li{
	border-bottom: 1px solid #DDDDDD;
	margin: 7px 0;
	padding: 10px 4px 25px;
}
.hotdeals li:hover{
	border-bottom: 1px solid #fff;
	background:#F3FAFF;
	outline: 1px dashed #ddd;
}
.hotdeals p{
	margin: 4px 0;
}
.hotdeals span{
	color: #ff7400;
	font-size: 13px;
}
.hotdeals span b{
	font-size: 14px;
	font-weight: bold;
}
img.star{
	float: right;
}
a.detail{
	float: right;
	color: #004B93;
}
a.detail:hover{
	color: #046bce;
}


.keepread{
	margin: 30px 0 0 0;
}
.keepread h2{
	background: url(/image/keepread.jpg) repeat-x;
	padding: 19px 0 9px;
	margin: 0 0 1px;
}
.keepread ul{
	border-top: 1px dashed #ddd;
}
.keepread li{
	border-bottom: 1px dashed #ddd;
	padding: 10px 0 0 0;
}
.keepread li p{
	margin: 0 0 9px 32px;
}
.keepread li img{
	float: right;
	margin: 0 0 0 10px;
}
.keepread h3 i{
	font-size: 22px;
	margin: 0 10px 0 0;
}

p.oneimg{
	text-align: center;
}
.twoimg{
	text-align: center;
	width: 620px;
	margin: 0 auto 10px;
}
.twoimg td{
	background: #dadada;
	border-bottom: 10px solid #fff;
	text-align: center;
}
.twoimg td:first-child{
	border-right: 10px solid #fff;
}


.pagenav a,
.pagenav span{
	display: block;
	margin: 0 10px;
}
.pagenav a i{
	color: #FF7400;
	font-weight: bold;
}
.pagenav .previous{
	float: left;
}
.pagenav .next{
	float: right;
}
.pagenav span{
	float: right;
}
