/*内容页面*/
.sidebar{
	width: 200px;
	min-height: 400px;
	background: #DFEDFB;
	/*outline:1px solid red;*/
	float: left;
	border-radius: 5px 5px 0 0;
	margin: 0 0 0 -10px;
}
.aside{
	float: right;
	margin: 7px 7px 0 0;
	min-height: 300px;
	width: 138px;
}
.content{
	background: url("/image/content-line.jpg") repeat-y scroll right center transparent;
	float: left;
	min-height: 500px;
	padding: 5px 10px 5px 7px;
	width: 606px;
}


/*左侧sidebar*/
.besttour{
}

.besttour dt{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	padding: 10px;
}
.besttour dd{
	padding: 10px 10px 5px;
	/*background: url(/image/dd-bg.png) repeat-y center center;*/
	background: #c9e1f8;
	border-bottom: 1px solid #ccd9e5;
}
.besttour dd.last{
	border-bottom: 3px solid #4891dc;
}
.besttour dd h3{
	color: #ff7400;
	background: url(/image/arrow-rt.png) no-repeat right center;
}
.besttour dd span{
	color: #333;
}

/*右侧article*/
.article{
	width: 770px;
	float: right;
	margin: 0 -10px 0 0; 
	background: #f1f1f1;
	border-radius: 5px;
}
.toptitle{
	padding: 10px;
	margin: 0;
}
.share{
	width: 770px;	
	min-height: 28px;
	float: left;
}
.share img{
	float: right;
}
/*中间content*/
.overview{
	position: relative;
	width: 578px;
	overflow: hidden;
}
.overview img{
	float: left;
	margin: 0 10px 8px 0;
}

.visit{
	background: #fff;
	margin: 0px -3px 10px -7px;
}
.visit h3{
	background: #535353;
	padding: 4px 5px;
}
.visit img{
	float: right;
	margin: 0 5px 5px;
}
.visit p{
	padding: 0 0 0 5px;
}

.route li{
	background: url(/image/route-bg.png) repeat-x left top;
	padding: 10px;
}











/*右侧aside*/
.tips{
	background: #ededed;
	border: 1px solid #c2c2c2;
}
.tips dt{
	font-size: 14px;
	font-weight: bold;
	background: #fff;
	border-bottom: 1px solid #c2c2c2;
	padding: 10px 2px 7px;
}
.tips dt i{
	color: #FF7400; 
	font-weight: bold;
	font-size: 16px;
}
.tips dt a{
	color: #fff;	
	text-decoration: underline;
	font-size: 12px;
	margin: 0 0 0 85px;
	font-weight: normal;
}
.tips dd{
	padding: 3px 3px;
}
.tips dd p{
	font-size: 11px;	
}
.tips dd h4{
	color: #333;
	font-size: 15px;
}
.btn{
	background: url(/image/btn.png) repeat-x left center;
	padding: 5px ;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fea242;
	border-radius: 5px;
	font-weight: bold;
}
.btn:hover{
	text-decoration: none;
	
}

.tips dd .btn{
	margin: 10px 25px 0;
	display: block;
}