/*内容页面*/
.sidebar p{
	background: #fef9ea;
	padding: 10px;
}
.sidebar dl{
	margin: 0 0 10px 0;
	background: #fef9ea;
}
.sidebar dt{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	padding:10px 10px 0 10px;
}
.sidebar dd{
	padding: 10px 10px 5px;
}
.sidebar dd h4{
	color: #333;
	background: url(/image/arrow-rt.png) no-repeat right center;
}
.sidebar dd a{
	color: #a0a0a0;
}

/*右侧article*/

.toptitle{
	margin: 0;
	padding: 10px;
}
.overview img{
	float: left;
	margin: 0 10px 0 0;
}
.overview dl{
	width: 440px;
	float: left;
}
.overview dt{
	float: left;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-weight: 700;
	margin: 0 0 5px;
	width: 110px;
}
.overview dd{
	margin: 0 0 5px;
	padding-left: 110px;
}

.route{
	width: 582px;
	float: left;
}

.route li{
	background: url(/image/route-bg.png) repeat-x left top;
	padding: 10px;
}

/*右侧aside*/
.aside{
	float: right;
	min-height: 300px;
	width: 138px;
}

.tips{
	background: #ededed;
	border: 1px solid #c2c2c2;
}
.tips dt{
	font-size: 14px;
	font-weight: bold;
	background: #fff;
	border-bottom: 1px solid #c2c2c2;
	padding: 10px 2px 7px;
}
.tips dt i{
	color: #FF7400; 
	font-weight: bold;
	font-size: 16px;
}
.tips dt a{
	color: #fff;	
	text-decoration: underline;
	font-size: 12px;
	margin: 0 0 0 85px;
	font-weight: normal;
}
.tips dd{
	padding: 3px 3px;
}
.tips dd p{
	font-size: 11px;	
}
.tips dd h4{
	color: #333;
	font-size: 15px;
}
.btn{
	background: url(/image/btn.png) repeat-x left center;
	padding: 5px ;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fea242;
	border-radius: 5px;
	font-weight: bold;
}
.btn:hover{
	text-decoration: none;
	
}

.tips dd .btn{
	margin: 10px 25px 0;
	display: block;
}




