#greybackground {
	background: #000;
	display: block;
	z-index: 100;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.ship .conbody {
	border-radius: 3px 3px 0 0;
	padding: 2px;
}
.shiptop {

	border: 1px solid #9FBFE3;
	border-radius: 3px;
	padding: 20px 30px;
	width: 914px;
	background: #F3FAFF;
	float: left;
}
.shiptop .price {
	font-size: 16px;
	color: #FF7400;
	margin: 32px 0 6px;
}
.shiptop .price b {
	font-size: 20px;
	font-weight: bold;
}
.price .why i {
	display: none;
	color: #5F5F5F;
}
.why {
	cursor: default;
	display: inline-block;
	margin: 0 0 0 20px;
	position: relative;
	z-index: 10;
}
.explainbox {
	background: none repeat scroll 0 0 #F8EFDA;
	border: 1px dotted #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	font-size: 11px;
	height: auto;
	left: 16px;
	line-height: 1.3;
	padding: 5px;
	position: absolute;
	top: -1px;
	width: 300px;
	display: none;
	color: #333;
}
.shiptop .enp {

	line-height: 14px;
	color: #5f5f5f;
	width: 346px;
	padding: 0 0 58px 0;
	border-bottom: 1px dashed #ddd;
}
.shiptop .enp a {

	display: block;
	width: 159px;
	cursor: pointer;
	height: 36px;
	background: url(../image/enquirynew.gif) no-repeat 0 0;
	float: left;
	margin: 0 10px 0 0;
}
.shiptop .enp a:hover {

	background: url(/image/enquirynew.gif) no-repeat 0 -36px;
}
.shiptop .small {

	font-size: 11px;
}
.shiplt {
	float: left;
	width: 328px;
}
.shiprt {
	*
	display: inline;
	width: 560px;
	min-height: 400px;
	margin: 0 0 0 24px;
	float: right;
}
.shopprice {

	border: 1px solid #8cc9fc;
	border-radius: 3px;
	background: #dbeefe;
	margin: 10px 0 0 0;
	padding: 10px;
}
.shopprice dt {

	width: 200px;
	float: left;
}
.shopprice dd {

	width: 220px;
	text-align: right;
	clear: right;
	float: right;
}
.shopprice dd span {

	padding: 0px 20px;
	margin: 0 10px 0 0;
	background: red;
}
.shopprice h3 {

	color: #004b93;
	font-size: 18px;
}
.mask {

	background: url("../image/loading.gif") no-repeat scroll 250px 170px;
	position: absolute;
	display: none;
}
#shipcalendar {

	float: left;
	clear: both;
}
.pricezone {

	border: 1px solid #8cc9fc;
	width: 540px;
	background: #fff;
}
.pricezone td, .pricezone th {

	border: 1px solid #ddd;
	padding: 10px 5px;
	vertical-align: middle;
	text-align: center;
}
.pricezone td {
	background: #eeeeee;
	width: 45px;
	color: #bbbbbb;
}
.pricezone td.blank {
	background: #fff;
}
.pricezone td.us, .pricezone td.ds {
	width: 83px;
}
.pricezone td a {
	text-decoration: none;
	cursor: pointer;
}
.pricezone td span {
	color: #fff;
	display: block;
	/*width: 70px;*/
	height: 15px;
	text-align: left;
	text-decoration: underline;
}
.pricezone td i {
	display: block;
	font-style: normal;
	font-weight: bold;
	/*width: 70px;*/
	color: #fff;
	height: 15px;
	text-align: right;
}
.pricezone .prevMon, .pricezone .nextMon {
	margin: 20px auto;
	cursor: pointer;
	width: 56px;
	height: 30px;
	display: block;
	background-image: url("/image/updowns.png");
}
.pricezone .nextyear {
	margin: 20px auto;
	cursor: pointer;
	width: 38px;
	height: 30px;
	display: block;
}
.pricezone .prevMon {
	background-position: 0 -1px;
}
.pricezone .prevMon:hover {
	background-position: 0 -71px;
}
.pricezone .nextMon {
	background-position: 0 -39px;
}
.pricezone .nextMon:hover {
	background-position: 0 -106px;
}
.pricezone .ds {

	background: #ff9501;
	color: #fff;
}
.pricezone .us {

	background: #4093e3;
	color: #fff;
}
.shipdetail {

	width: 974px;
	float: left;
	border: 1px solid #9FBFE3;
	margin: -1px 0 0 0;
	z-index: 1;
	position: relative;
}
.row-top {

	z-index: 2;
	margin: 20px 0 0 0;
	position: relative;
	width: 960px;
	float: left;
}
.row-top ul {

	float: left;
}
.row-top a.enquiry {

	float: right;
	width: 93px;
	height: 28px;
	display: block;
	background: url("../image/enquiry-small2.gif") no-repeat;
}
.row-top a.enquiry:hover {

	background: url("/image/enquiry-small2.gif") no-repeat center -28px;
}
.row-top li {

	background: url("../image/submenu.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #9FBFE3;
	border-bottom: none;
	font-size: 15px;
	font-family: "Trebuchet MS", Arial, Georgia, "Times New Roman", Times, serif;
	border-radius: 5px 5px 0 0;
	padding: 0 8px;
	display: block;
	float: left;
	height: 31px;
	line-height: 31px;
	color: #004b93;
	margin: 0 5px 0 0;
	cursor: pointer;
}
.row-top li:hover {

	background: url(/image/submenu.png) repeat-x 0 -62px;
}
.row-top li.active {

	background: url(/image/submenu.png) repeat-x 0 -31px;
}
.col-lt {
	*
	display: inline;
	width: 680px;
	float: left;
	margin: 15px 0 15px 30px;
}
.unit h3 {

	margin: 5px 0 25px 0;
}
.unit table {

	width: 680px;
}
.unit table td {

	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	vertical-align: middle;
}
.iti.unit td {

	min-width: 100px;
}
.unit.onboard img {

	float: right;
	margin: 0 10px 10px 20px;
}
.onboard .box {

	margin: 10px 0;
}
.onboard .box h4 {

	margin: 0 0 10px 0;
}
.onboard .box .inbox {

	width: 420px;
	float: left;
}
.cabin td, .deckplan td {

	padding: 10px 0;
}
.cabin .c1 {

	width: 200px;
}
.cabin .c2 {
	width: 42px;
	text-align: center;
}
.cabin .c3 {
	text-align: right;
}
.iti td, .iti th {

	border: 1px solid #9fbfe3;
	padding: 5px 10px;
}
.iti th {

	font-size: 14px;
}
.iti .map {

	position: relative;
}
.iti .map span {

	display: block;
	width: 660px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	padding: 0 10px;
	background: url(/image/caption-bg.png) repeat-x;
}
.priceguide ol {

	margin: 10px 0;
}
.priceguide ol li {

	background: url("/image/li-disc.gif") no-repeat scroll left 7px transparent;
	list-style: none outside none;
	padding: 0 0 0 10px;
}
.priceguide h4 {

	margin: 0 0 8px 0;
}
/*右侧*/

.col-rt {
	*
	display: inline;
	width: 223px;
	padding: 10px;
	float: right;
	background: #f1f1f1;
	margin: 2px;
}
.col-rt .box {

	border-bottom: 2px solid #fff;
	padding: 15px 0 20px;
}
.box h3 {

	color: #000;
	font-size: 17px;
}
.box p {

	margin: 5px 0;
}
.box.whybook li {
	background: url("/image/new-sec.png") no-repeat scroll left 2px transparent;
	padding: 5px 0 5px 29px;
}
.review-con {
	background: none repeat scroll 0 0 #eaf4ff;
	border: 1px solid #8ABFE7;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	position: relative;
}
.review-con p {
	margin: 0 0 0 0;
}
.author {
	background: url("/image/reviewdown.png") no-repeat scroll 14px 0 transparent;
	margin: -1px 0 5px;
	padding: 7px 0 10px;
	position: relative;
	z-index: 100;
}
.author img {
	border: 1px solid #DDDDDD;
	margin: 10px 10px 0 0;
	padding: 1px;
}
.Recent-Inquiry {
	height: 200px;
	overflow: hidden;
}
.Recent-Inquiry li {
	list-style-type: disc;
	list-style-position: inside;
}
.row-bot {
	width: 961px;
	float: left;
	padding: 10px 0 10px 15px;
	background: #585858;
	margin: 10px 0 0 0;
}
.row-bot h3 {
	color: #fff;
}
.row-bot h3 a {
	color: #fff;
	font-size: 12px;
	float: right;
	margin: 0 20px 0 0;
	text-decoration: none;
}
.row-bot h3 a:hover {

	color: #004B93;
}
.row-bot li {
	display: block;
	float: left;
}
.row-bot ul a {
	margin: 10px 18px 0 0;
	display: block;
	float: left;
	border-radius: 4px;
	overflow: hidden;
	width: 174px;
	height: 125px;
	position: relative;
}
.row-bot ul a p {

	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	color: #fff;
	padding: 3px 10px;
	background: url("/image/caption-bg.png") repeat;
	width: 154px;
}
.row-bot ul p img {

	vertical-align: middle;
}
/*form css*/

.cruiseform {

	display: block;
	left: 195px;
	top: 45px;
	padding: 10px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 10px solid #D6EAFA;
	position: absolute;
	width: 870px;
	z-index: 10000;
	display: none;
	border-radius: 5px;
}
.formwarp {

	display: block;
	left: 278.5px;
	top: 55px;
	width: 880px;
	height: 500px;
	border-radius: 6px 6px 6px 6px;
	background: none repeat scroll 0 0 #FFFFFF;
	overflow-y: scroll;
	overflow-x: hidden;
}
.exit_ico {

	background: url("../image/fancybox.png") no-repeat scroll -43px 0 transparent;
	cursor: pointer;
	display: block;
	height: 25px;
	position: absolute;
	right: -15px;
	top: -15px;
	width: 25px;
}
.self-left {

	float: left;
	width: 520px;
	padding: 5px;
}
.self-left p {
	font-size: 13px;
}
.self-right {
	float: right;
	width: 300px;
	margin-right: 15px;
	border-radius: 4px 4px 4px 4px;
	background: #FF9934;
	padding: 0 10px 10px;
}
.self-right h3 {
	font-size: 15px;
	padding: 15px 0px 5px 0px;
	margin: 0px;
}
.self-right ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.self-right ul li {
	list-style: none;
	font-size: 12px;
	line-height: 20px;
	background: url("../image/icon-v.png") no-repeat transparent;
	padding-left: 25px;
}
.formrightinfo ul li {
	background: none;
	padding-left: 0px;
}
.formrightinfo {
	border-bottom: 1px dashed #FFF;
	padding-bottom: 8px;
}
.cruiseform fieldset {
	background: url("../image/room-show.png") no-repeat scroll center 16px transparent;
	border-radius: 5px 5px 5px 5px;
	padding: 15px 5px 10px 45px;
	border: 0px groove threedface;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	width: 100%;
}
.cruiseform fieldset legend {
	border-bottom: 1px dashed #DDDDDD;
	color: #004B93;
	font-weight: bold;
	padding: 5px 0;
	width: 500px;
}
.cruiseform label {
	clear: left;
	display: block;
	float: left;
	line-height: 25px;
	margin: 5px 0;
	text-align: right;
	width: 200px;
}
.cruiseform select {
	height: 25px;
	margin: 5px 10px;
}
.cruiseform input {
	float: left;
	height: 20px;
	margin: 10px 0 10px 15px;
}
.cruiseform .status input {
	float: none;
	margin-left: 0px;
}
.status {
	margin-left: 46px;
	width: 770px;
	padding-bottom: 15px;
}
.status span {
	font-size: 13px;
}
.status label {
	padding-right: 15px;
}
.ptxt {
	float: left;
	height: 90px;
	margin-top: 3px;
	width: 330px;
	margin-left: 15px;
}
.des {
	font-size: 13px;
	float: left;
	margin-top: 12px;
	margin-left: 5px;
}
.button {
	margin-left: 350px;
	padding-top: 20px;
}
.dateinfo {
	display: none;
}
.practical, .priceguide {
	padding: 0 70px 0 0;
}
.picapp li {
	display: block;
	float: left;
	margin: 10px 38px;
	width: 260px;
}
.selmonth {
	margin: 20px 0 0;
	width: 55px;
}