.secLeft{
	float: left;
	width: 690px;
	min-height: 300px;
}
.secRight{
	float: right;
	width: 215px;
	min-height: 300px;
}

.hotdeal{
	border-bottom: 1px solid #fff;
	margin: 25px 0 20px 0;
}
.hotdeal dt{
	border-bottom: 4px solid #37a3f6;
}
.hotdeal dt h3{
	display: block;
	width: 130px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	border-radius: 5px 5px 0 0;
	background: #37a3f6;
	float: left;
	margin: 0;
}
.hotdeal dt span{
	font-size: 11px;
	float: right;
	display: block;
	margin: 10px 0 0 0;
}
.hotdeal dd{
	border: 1px solid #FFFFFF;
	float: left;
	margin: 15px 5px 0 7px;
	outline: 1px solid #FFFFFF;
	padding: 5px;
	width: 147px;
	*display: inline;
}
.hotdeal dd:hover{
	background: #e0f1fe;
	outline: 1px solid #f1f9fe;
	border: 1px solid #d6edff;
}
.hotdeal h4{
	color: #333;
}
.hotdeal dd p{
	margin: 3px 0;
	color: #333;
}
.price{
	color: #FF7400
}
.price i{
	font-weight: bold;
	font-size: 14px;
}

.tabone{
	background: url("/image/flower.png") no-repeat left top;
	padding: 6px 10px;
	border: 1px solid #32a1f5;
	margin: 25px 0;
}
.tabone h3{
	margin: 0 0 1px 0;
}

.secRight .box{
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #e7d9b7;
	background: url("/image/flo-lt.png") no-repeat left top #fffbf2;
}
.secRight .box h3{
	color: #000;
}
.secRight .flower-lt{
	background: url("/image/flo-lt.png") no-repeat left top #fffbf2;
}
.secRight .flower-rt{
	background: url("/image/flo-rb.png") no-repeat right bottom #fffbf2;
}
.tabone .fp{
	color: #000;
}

.box  ol{
	margin: 14px 0;
}
.tabone table{
	width: 668px;
}

.tabone th{
	text-align: left;
	padding: 5px;
	font-size: 14px; 
}
.tabone td{
	background: #fff;
	vertical-align: middle;
	padding: 5px;
	color: #333;
}

.tabone .f11{
	font-size: 11px;
}
.tabone td.leftd{
	vertical-align: top;
	background: #fff;
}
.eventr td{
	background: #f2f9fe;
}


.departure{
	margin: 0 -9px 0 -2px;
}
.departure li{
	width: 33px;
	height: 35px;
	border: 1px solid #ebdcb9;
	float: left;
	border-radius: 4px;
	text-align: center;
	padding: 5px;
	margin: 0 6px 4px 0;
}
.departure li.expire a{
	color: #c5c3c1;
}


/*shipcompany船公司样式*/
.firmtop{
	background: url("/image/routelist-bg.png") repeat-x scroll center bottom #FFFFFF;
	padding: 20px 20px 0 20px;
}
.firmtop ol li{
	padding: 5px 0;
}
.shipfirm{
	border: none;
	float: none;
}
.shipfirm .col-lt{
	width: 700px;
	margin: 15px 0 15px 15px;
}
.shipfirm .col-rt{
	background: none;
	padding: 0;
	width: 243px;
}
.compare{
	background: #9bd4ff;
	border: 1px solid #3ca6f6; 
	padding: 8px;
}
.compare table td{
	background: #fff;
	color: #535353;
	text-align: left;
	padding: 10px;	
}

.shiptitle{
	color: #000;
}



.firmship li{
	display: block;
	font-size: 11px;
	float: left;
	background: #ff9501;
	padding: 8px 10px;
	margin: 3px 0 0;
	position: relative;
}
.firmship li img{
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 5px;
}
.firmship li img:hover{
	opacity: 0.8;
}
.firmship li .info{
	width: 112px;
	float: right;
}
.firmship li p{
	margin: 0 0 5px 0;
}
.rank{
	position: absolute;
	right: 0;
	top: 0;
	width: 38px;
	height: 39px;
	display: block;
	background: url(/image/black-angle.png) no-repeat center center;
	text-indent: 22px;
	line-height: 28px;
	color: #fff;
	font-size: 16px;
}

.cal .tawrap{
	border: 1px solid #90caee;
	border-radius: 5px 5px 0 0;
	background: #deefff; /* Old browsers */
	background: -moz-linear-gradient(top,  #deefff 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #deefff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #deefff 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #deefff 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #deefff 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	padding: 8px;
}
.cal table{
	width: 
}
.cal .tawrap dd,.cal .tawrap dt{
	display: block;
	float: left;
	cursor: pointer;
	color: #003970;
	width: 51px;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}

.cal .tawrap dd.active{
	background: url(/image/cal-now.png) no-repeat center center;
	height: 51px;
	width: 55px;
	margin-top: -16px;
	margin-bottom: 10px;
	line-height: 44px;
	color: #fff;
}
.cal .tawrap dd.oldmonth
{
	text-decoration: line-through;
 	pointer-events: none;
	color:#CCC;
}
.cal table th{
	background: #f5f5f5;
	border: 1px solid #dedede;
	width: 100px;
	padding: 5px;
}
.cal table td{
	background: #fff;
	border: 1px solid #dedede;
	padding: 5px;
	vertical-align: top;
}
.cal table td p{
	margin: 5px 0;
}




.remark{
	color: #003970;
	text-align: right;
}
.iti h4{
	background: url(/image/anchor.png) no-repeat left center;
	padding: 3px 0 3px 20px;
	color: #000;
}
.iti .tawrap{
	border: 1px solid #a3d5fd;
	background: #c6e6ff;
	padding: 10px;
	margin: 10px 0;
}
.iti .tawrap .note{
	margin: 0;
}
.iti table{
	background: #fff;
	margin: 0 0 10px 0;
}
.iti table th,
.iti table td{
	border: 1px solid #e7e7e7;
	padding: 15px;
}
.fleet .tawrap{
	border: 1px solid #a3d5fd;
	background: #c6e6ff;
	padding: 10px;
}
.fleet table td,
.fleet table th{
	padding: 10px;
	background: #fff;
}
.fleet .color td{
	background: #f2f9fe;
}



.life .tawrap{

}
.life table{
	width: 700px;
}
.life table td{
	border-top: none;
	border-bottom: 1px dashed #ddd;
	padding: 20px 0px;
}
.life table h4,
.life table h5{
	color: #000;
}

#jwvideo_wrapper{
	float: right;
	margin-left: 10px;
}


/*Yangtze Cruise Routes Comparsion 页面样式*/
.secIn{
	margin: 30px 0;
}
.stream-wrap{
	margin: 50px 0 45px;
	background: url("/image/vs.png") no-repeat scroll 308px center transparent;
}
.stream-wrap h4{
	color: #000;
	margin: 0 0 20px 35px;
}
.stream-wrap li{
	list-style: disc;
	padding: 7px 0 ;
	margin: 0 0 0 15px;
}
.ups,.downs{
	position: relative;
	width: 240px;
	height: 250px;
	float: left;
	border: 1px solid #ffffff;
	border-radius: 2px;
	padding: 20px;
	margin: 0 0 0 20px;
}

.ups{
	box-shadow: 1px 1px 2px #A7B4C4;

	background: #ebf5ff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ebf5ff 0%, #fafdff 50%, #ebf5ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ebf5ff), color-stop(50%,#fafdff), color-stop(100%,#ebf5ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ebf5ff 0%,#fafdff 50%,#ebf5ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ebf5ff 0%,#fafdff 50%,#ebf5ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ebf5ff 0%,#fafdff 50%,#ebf5ff 100%); /* IE10+ */
	background: linear-gradient(to right,  #ebf5ff 0%,#fafdff 50%,#ebf5ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf5ff', endColorstr='#ebf5ff',GradientType=1 ); /* IE6-9 */

}

.downs{
	box-shadow: 1px 1px 2px #A7B4C4;

	background: #feefcb; /* Old browsers */
	background: -moz-linear-gradient(left,  #feefcb 0%, #fdf6df 50%, #feefcb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#feefcb), color-stop(50%,#fdf6df), color-stop(100%,#feefcb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #feefcb 0%,#fdf6df 50%,#feefcb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #feefcb 0%,#fdf6df 50%,#feefcb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #feefcb 0%,#fdf6df 50%,#feefcb 100%); /* IE10+ */
	background: linear-gradient(to right,  #feefcb 0%,#fdf6df 50%,#feefcb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feefcb', endColorstr='#feefcb',GradientType=1 ); /* IE6-9 */

	margin: 0 0 0 100px;
}


.stream-bg{
	display: block;
	height: 63px;
	left: -20px;
	position: absolute;
	top: -24px;
	width: 63px;
}
.ups .stream-bg{
	background: url(/image/ups.png) no-repeat;
}
.downs .stream-bg{
	background: url(/image/downs.png) no-repeat;
}