.one{
	width: 678px;
	padding: 15px;
	background: #f4f9fe;
	border: 1px solid #A7B4C4;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 0px 3px #A7B4C4;
	margin: 0 0 15px 0;
}

.one h2{
	color: #333;
}
.one p{
	margin: 0 0 10px 0;
}
.one p em{
	font-style: normal;
	text-shadow: 0 0 3px #FFC600;
}
.one p.price,
.one p.ew{
	display: inline;
}
.one p.vw{
	color: #333;
	margin: 0 0 20px 0;
}
.one .bottom-pra{
	clear: both;
	float: left;
	margin: 10px 0 0;
	font-size: 10px;
}
.one a img{
	border-radius: 4px;
}
.rtdiv{
	width: 440px;
	float: right;
}

.price{
	color: #FF7400;
}
.price i{
	font-size: 15px;
	font-weight: bold;
}

.addwish{
	float: right;
	clear: both;
	display: block;
	background: url("/image/icon-wishlist.png") no-repeat left 4px;
	padding: 0 0 0 18px;
}
.team
{
	border-top:none;
}