/*网站两栏布局样式*/

/* *************left sidebar************* */
.sidebar{
	width: 220px;
	min-height: 400px;
	float: left;
}

.sidebar a{
	color: #333;
}


.sidebox{
	margin: 0 0 5px 0;
}
.sidebox .conbody{
	padding: 7px;
}

.blue .conhead{
	height: 54px;
	background: url("/image/conhead-blue.png") repeat-x scroll 0 0 transparent;
}
.sidebar .conhead h2{
	color: #FFFFFF;
	line-height: 45px;
	text-indent: 16px;
}

.sidebar .blue .conbody{
	background: url("/image/content-bg2.png") repeat-y scroll 0 -12px #fff;
	padding: 0 14px;
}
.sidebar .blue p.sp{
	margin: 0;
	padding: 5px;
}
.sidebar .sp{
	background: url(/image/sidebar-bg.png) repeat-y;
	padding: 10px 0;
	margin: 0 0 5px 0;
}
.sidebar .sp a{
	font-size: 13px;
	color:#333; 
	display: block;
	float: left;	
	clear: both;
	margin: 0 0 5px 0px;
}
/*.sidebar .sp a:hover{
	background: #eee7ce;
}
*/
.sidebar .sp a:hover{
	/*color: #004B93;*/
}
.sidebar .sp img{
	margin: 0 0 0 5px;
}

.sidebar .blue dl{
	background: url("/image/dt-bg.png") repeat-x left top;
	padding: 10px 0;
	margin: 0;
}
.blue dt{
	font-size: 14px;
	padding: 3px 0;
	font-weight: bold;	
}
.stcity dd{
	padding: 5px 5px;
	margin-left: -5px;
	margin-right: -5px;
}
.stcity dd:hover{
	/*outline: 1px dashed #ddd;*/
	background: #eee7ce;
}
.around dd{
	padding: 3px 0;
}
.blue .confoot{
	background: url("/image/confoot-blue.png") repeat-x scroll 0 0 transparent;
}




/* *************right article************* */
.article{
	width: 750px;
	min-height: 400px;
	float: right;
}
.article .conbody{
	padding: 10px 20px;
}

.mainbody .sidebar a:hover{
	color: #004B93;
}