/*网站两栏布局样式*/

/* *************left sidebar************* */
.sidebar{
	width: 220px;
	min-height: 400px;
	float: left;
}

.sidebox{
	margin: 0 0 10px 0;
}

.sidebox .conbody{
	padding: 7px;
}

/* *************right article************* */
.article{
	width: 750px;
	min-height: 400px;
	float: right;
}
.article .conbody{
	padding: 10px;
}

