{extends file="layout.html"}
{block name=title}扬子江2.0{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/twocol.css">
<link rel="stylesheet" type="text/css" href="style/aboutus.css">
{/block}
{block name=body}
<body>
	<div class="wrap">
		{include file="chunk/header.tpl"}
		<div class="mainbody clearfix">
			{include file="chunk/sidebar-route.tpl"}
			<div class="article routewapper clearfix">
				<div class="conhead"></div>
				<div class="conbody clearfix">
					<h1>Tibet Discovery Tours - a Leading Tibet Travel Agency </h1>
					<h2>Company Profile</h2>
					<div class="company-profile">
						<p>
							Tibetdiscovery.com (online since 2010) provides online Tibet travel services
							directly to the end consumers for English speaking people from all over
							the world.
						</p>
						<p>
							As the leading local tour operator in Tibet, we have a long-established
							relationship with the hotels, restaurants, and transportation companies of
							Tibet, and can provide guaranteed service at a lower price.
						</p>
						<p>
							Since we are a local company selling tours directly to the end consumers through the Internet, the prices of our Tibet tours are regularly
							10%-20% lower than our competitors from Chinese cities like
							Shanghai, Guilin, Beijing, etc., and 15%-25% lower than overseas travel
							agents or wholesalers.
						</p>
						<p>
							<a href="">Read more about why book a cruise with us.</a>
						</p>
					</div>
					<div class="ourservice clearfix">
						<h2 class="underline">Our Service</h2>
						<img title="our Tibet local tour guide" src="http://placehold.it/640x160" alt="tour guide" />
						<ul>
							<li class="li-title">
								Affordable Quality Tours
							</li>
							<li>
								<a title="Private Tibet Tours" href="[~147~]">Private Tibet Tours </a>
							</li>
							<li>
								<a title="Join-in Tibet Tours" href="[~173~]">Join-in Tibet Tours </a>
							</li>
							<li>
								<a title="China &amp; Tibet Tours" href="[~338~]">China &amp; Tibet Tours</a>
							</li>
							<li>
								<a title="Lhasa Kathmandu Tours" href="[~1671~]">Tibet &amp; Nepal Tours</a>
							</li>
						</ul>
						<ul>
							<li class="li-title">
								Tibet Travel Service
							</li>
							<li>
								<a title="Tibet Travel Permit" href="[~37~]">Tibet Travel Permit</a>
							</li>
							<li>
								<a title="Tibet Hotels" href="[~516~]">Tibet Hotel Booking</a>
							</li>
							<li>
								<a title="High Altitude Sickness" href="[~49~]">Tibet Altitude Guide</a>
							</li>
						</ul>
						<ul>
							<li class="li-title">
								Tibet Travel Tips
							</li>
							<li>
								<a title="What to Pack" href="[~46~]">What to Pack</a>
							</li>
							<li>
								<a title="Tibet Travel FAQs" href="[~53~]">Tibet Travel FAQs </a>
							</li>
						</ul>
					</div>
					<div class="ourcustomers clearfix">
						<h2 class="underline">Our Customers</h2>
						<img title="What our customers say" src="http://placehold.it/300x200" alt="What our customers say" width="318" height="224" />
						<p>
							If you have travelled with us before, we hope we
							have convinced you that our 'specialist' approach
							means you enjoy an expertly planned trip tailored
							to your interests and budget.&nbsp;
						</p>
						<p>
							<em>"Hi
							Elena:</em>
							<br />
							<br />
							<em> I'm
							about to finish my trip&nbsp;to China. Thanks a lot for all your attentions and
							for all the amendments that I requested, also the accomodation in Tibet with
							Jurgen, the german guy, for decrease costs.</em>
							<br />
							&nbsp;
							<br />
							<em> You are
							incredible, it's a pity that I didn't meet&nbsp;you in person but I'm sure one
							day it's going to happen.&nbsp;I
							really appreciate all the effort you did for my trip, it was fantastic. I will
							recommend you with all the people that things in travelling to China.</em>
							<br />
							&nbsp;
							<br />
							<em> Regards</em>
							<br />
							<em> Alejandro
							Lafont"</em>
						</p>
						<p>
							<a title="What our customers say" href="[~324~]">Check what past customers say about us</a>
						</p>
					</div>
					<div class="section">
						<h2 class="underline">More about Our Service</h2>
						<ul>
							<li name="about-company">
								<a href="our-company/">About Our Company</a>
							</li>
							<li name="about-what">
								<a href="our-service/">What We Do</a>
							</li>
							<li name="about-team">
								<a href="our-team/">Meet our Specialists</a>
							</li>
							<li name="about-say">
								<a href="testimonials/">What People Say</a>
							</li>
							<li name="about-book">
								<a href="how-to-book/">How to Book</a>
							</li>
							<li name="about-terms">
								<a href="payment-guide/">Payment Guide</a>
							</li>
							<li name="about-contact">
								<a href="contact-us/">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="confoot"></div>
			</div><!-- END OF .article -->
		</div><!-- END OF .mainbody -->
		{include file="chunk/footer.tpl"}
	</div>
	<!-- EDN OF .mainwrap -->
</body>
{/block}