{extends file="layout.html"}
{block name=title}扬子江2.0{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/twocol.css">
<link rel="stylesheet" type="text/css" href="style/route.css">
<link rel="stylesheet" type="text/css" href="script/fancybox/jquery.fancybox-1.3.4.css">
<script type="text/javascript" src="script/fancybox/jquery.fancybox-1.3.4.pack.js" ></script>
<script type="text/javascript">
$(function(){
	$(".picture a").fancybox();
})
</script>
{/block}
{block name=body}
<body>

<div class="wrap">
	{include file="chunk/header.tpl"}
	<div class="mainbody clearfix">
	{include file="chunk/sidebar-route.tpl"}
		<div class="article routewapper clearfix">
			<div class="conhead"></div>
			<div class="conbody clearfix">
				<h1>China Tours with Yangtze Cruise .......more</h1>
				<p class="clearfix">
					<img class="fr" src="http://placehold.it/180x131">
					The top 10 China tours including Yangtze River cruise offered below are our customers' enduring favorite itineraries, 

					and the combinations of most popular destinations and attractions in China, including, Beijing (Capital of China), Xi'an 

					All of them are private tours offering private vehicles and tour guide only for you with your families or friends. Moreover, they are not fixed itineraries


				</p>

				<h3 class="bgtitle"><span>Yangtze Cruise Tour<img src="/image/bgtitle.png"></span></h3>
				<div class="tourzone clearfix">
					<div class="clearfix">
					<p class="p1">
						Take a week trip to sample China's vibrancy andyjjyuku hhmj two most noted destinations.vibrancy andngh hjnhg drhjj fjyju and ancientry in the ancientt
						Take a week trip to sample China's vibrancy andyjjyuku hhmj two most noted destinations.vibrancy andngh hjnhg drhjj fjyju and ancientry in the ancientt
						Take a week trip to sample China's vibrancy andyjjyuku hhmj two most noted destinations.vibrancy andngh hjnhg drhjj fjyju and ancientry in the ancientt
					</p>
					<ul class="picture">
						<li>
							<a href="/image/banner.jpg"><img src="http://placehold.it/85x65" width="85" height="65"> </a>
						</li>
						<li>
							<a href="http://placehold.it/100x100"><img src="http://placehold.it/85x65" width="85" height="65"> </a>
						</li>
						<li>
							<a href="http://placehold.it/100x100"><img src="http://placehold.it/85x65" width="85" height="65"> </a>
						</li>
						<li>
							<a href="http://placehold.it/100x100"><img src="http://placehold.it/85x65" width="85" height="65"> </a>
						</li>
						<li>
							<a href="http://placehold.it/100x100"><img src="http://placehold.it/85x65" width="85" height="65"> </a>
						</li>
						<li>
							<a href="http://placehold.it/100x100"><img src="http://placehold.it/85x65" width="85" height="65"> </a>
						</li>
					</ul>
					</div>

					<h4>Our Yangtze Cruise Tour</h4>

					<ul class="tourlist clearfix">
						<li>
							<img src="http://placehold.it/90x65">
							<div class="wprice">
								<h5>Beijing 8 day a week trip 8 day a 8 day a week trip  trip</h5> 
								 <span class="price">from <i>$2,200</i></span>
							</div>
						</li>
						<li>
							<img src="http://placehold.it/90x65">
							<div class="wprice">
								<h5>Beijing 8 day a week trip 8 day a 8 day a week trip  trip</h5> 
								 <span class="price">from <i>$2,200</i></span>
							</div>
						</li>
						<li>
							<img src="http://placehold.it/90x65">
							<div class="wprice">
								<h5>Beijing 8 day a week trip 8 day a 8 day a week trip  trip</h5> 
								 <span class="price">from <i>$2,200</i></span>
							</div>
						</li>
						<li>
							<img src="http://placehold.it/90x65">
							<div class="wprice">
								<h5>Beijing 8 day a week trip 8 day a 8 day a week trip  trip</h5> 
								 <span class="price">from <i>$2,200</i></span>
							</div>
						</li>
					</ul>

				</div>
			
			</div><!-- END OF .conbody -->
			<div class="confoot"></div>
		</div><!-- END OF .article -->
	</div><!-- END OF .mainbody -->
	{include file="chunk/footer.tpl"}
</div>	<!-- EDN OF .mainwrap -->
</body>
{/block}