{extends file="layout.html"}
{block name=title}扬子江2.0{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/twocol.css">
<link rel="stylesheet" type="text/css" href="style/guide.css">
{/block}
{block name=body}
<body>

<div class="wrap">
	{include file="chunk/header.tpl"}
	
	<div class="mainbody clearfix">
		
	{include file="chunk/sidebar-guide.tpl"}
		

		<div class="article guide clearfix">
			<div class="conhead"></div>
			<div class="conbody clearfix">
				<div class="maintext">
					<h1>8 Days Beijing Yangtze Cruise Tour</h1>
					<p>
					Make your cruise extra fun with our Yangtze shore excursions, to get a unique insight into the history of the region, the culture of the people and the beauty of the natural landscape.
					</p>
					<p>
					Different cruisers may arrange different shore excurions, normally, including: the one day excursion to the Fengdu Ghost City, or Snow Jade Cave; one day to Lesser Three Gorges or Shennong Stream; One day to the Three Gorges Dam.
					</p>
					<p class="oneimg">
						<img src="http://placehold.it/555x300">
						<br>
						<span>Three Gorges Dam</span>
					</p>

					<p>
						Take a week trip to sample China's vibrancy and ancient noted destina two most noted destinations China's vibrancy 
					</p>

					<table class="twoimg">
						<tr>
							<td><img src="http://placehold.it/310x250"><br>fafkjadskfjkdasf</td>
							<td><img src="http://placehold.it/310x250"><br>fdjsfljdslfkjdf</td>
						</tr>
						<tr>
							<td><img src="http://placehold.it/310x250"><br>fafkjadskfjkdasf</td>
							<td><img src="http://placehold.it/310x250"><br>fdjsfljdslfkjdf</td>
						</tr>
					</table>
					<div class="pagenav clearfix">
						<a class="previous" href="#">Prev</a>
						<a class="next">Next</a>
						<span>It's the end</span>
					</div>
				</div><!-- END OF .maintext -->

				<div class="keepread">
					<h2>Keep Reading</h2>
					<ul>
						<li>
							<img src="http://placehold.it/110x80">
							<h3><i>1.</i><a href="">Three Gorges Dam on Yangtze River</a></h3>
							<p>
								Take a week trip to sample China's vibrancy and ancient China's vibrancy and ancient noted destina two most noted noted destina two most noted destinations China's vibra noted destina two most noted destinations China's vibrancy
							</p>
						</li>

						<li>
							<img src="http://placehold.it/110x80">
							<h3><i>2.</i><a href="">Three Gorges Dam on Yangtze River</a></h3>
							<p>
								Take a week trip to sample China's vibrancy and ancient China's vibrancy and ancient noted destina two most noted noted destina two most noted destinations China's vibra noted destina two most noted destinations China's vibrancy
							</p>
						</li>

					</ul>
				</div>

			</div><!-- EDN OF .conbody -->
			<div class="confoot"></div>
		</div><!-- END OF .article -->

		
	</div><!-- END OF .mainbody -->
	{include file="chunk/footer.tpl"}
</div>	<!-- EDN OF .mainwrap -->
</body>
{/block}