{extends file="layout.html"}
{block name=title}扬子江2.0{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/route.css">
{/block}
{block name=body}
<body>

<div class="wrap">
	{include file="chunk/header.tpl"}
	
	<div class="mainbody clearfix">
		

		<div class="sidebar">
			<div class="sidebox">
				<div class="conhead"></div>
				<div class="conbody">
					<h2>China Yangtze Tours</h2>
					<p>
						<a href="">Top 10 China Yangtze Tour Packages</a>
						<a href="">China Cruises & Tours</a>
					</p>

					<dl class="besttour">

						<dt>By Starting Cities</dt>
						<dd>
							<h3>From Beijing</h3>
							<span>Top 10 Best China Tour -from Beijing to shanghai</span>
						</dd>
						<dd>
							<h3>From Beijing</h3>
							<span>Top 10 Best China Tour -from Beijing to shanghai</span>
						</dd>

						<dt>By Starting Cities</dt>
						<dd>Chongqing & around Tours</dd>
						<dd>Chengdu Panda Tours</dd>

						<dd>My Wishlist</dd>
						<dd>Customize a Tour</dd>
					</dl>
				</div> <!-- END OF .conbody -->
				<div class="confoot"></div>
			</div> <!-- END OF .sidebox -->

			<div class="sidebox">
				<div class="conhead"></div>
				<div class="conbody">
					<h2>Recent Inquiries</h2>
					<div class="Recent-Inquiry">
						<ul>
							<li style="display: list-item;">
								On <em>Aug/06/2012</em>
								<span class="name">Aja...</span> <em>from</em>
								<span class="title">new Zealand</span>
								<br>					
								<span class="title">
									<a href="http://www.yangtze-river-cruises.com/cruise-from-beijing-xian/beijing-xian-yangtze-cruise.html#inquiry">Inquiry:Yangtze River Cruises Book...</a>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="confoot"></div>
			</div>

			<div class="sidebox">
				<div class="conhead"></div>
				<div class="conbody">
					<h2>Reviews from Our Travelers</h2>
					<ul>
						<li>
							<div class="review-con">
								<p>
									Our group of four went on the Century Diamond Cruise Ship in last...
								</p>
							</div>
							<div class="author">
								<img src="http://placehold.it/50x50/ff0000">By Urs Martin
							</div>
						</li>
					</ul>
					
				</div>
				<div class="confoot"></div>
			</div>
		</div> 

		<div class="article guide clearfix">
			<div class="conhead"></div>
			<div class="conbody clearfix">
				<div class="maintext">
					<h1>8 Days Beijing Yangtze Cruise Tour</h1>
					<p>
					Make your cruise extra fun with our Yangtze shore excursions, to get a unique insight into the history of the region, the culture of the people and the beauty of the natural landscape.
					</p>
					<p>
					Different cruisers may arrange different shore excurions, normally, including: the one day excursion to the Fengdu Ghost City, or Snow Jade Cave; one day to Lesser Three Gorges or Shennong Stream; One day to the Three Gorges Dam.
					</p>
					<p class="oneimg">
						<img src="http://placehold.it/555x300">
						<br>
						<span>Three Gorges Dam</span>
					</p>

					<p>
						Take a week trip to sample China's vibrancy and ancient noted destina two most noted destinations China's vibrancy 
					</p>

					<table class="twoimg">
						<tr>
							<td><img src="http://placehold.it/310x250"><br>fafkjadskfjkdasf</td>
							<td><img src="http://placehold.it/310x250"><br>fdjsfljdslfkjdf</td>
						</tr>
						<tr>
							<td><img src="http://placehold.it/310x250"><br>fafkjadskfjkdasf</td>
							<td><img src="http://placehold.it/310x250"><br>fdjsfljdslfkjdf</td>
						</tr>
					</table>
					<div class="pagenav">
						<a class="previous" href="#">Prev</a>
						<a class="next">Next</a>
						<span>It's the end</span>
					</div>
				</div><!-- END OF .maintext -->

				<div class="keepread">
					<h2>Keep Reading</h2>
					<ul>
						<li>
							<img src="http://placehold.it/110x80">
							<h3><a href="">1.Three Gorges Dam on Yangtze River</a></h3>
							<p>
								Take a week trip to sample China's vibrancy and ancient China's vibrancy and ancient noted destina two most noted noted destina two most noted destinations China's vibra noted destina two most noted destinations China's vibrancy
							</p>
						</li>

						<li>
							<img src="http://placehold.it/110x80">
							<h3><a href="">1.Three Gorges Dam on Yangtze River</a></h3>
							<p>
								Take a week trip to sample China's vibrancy and ancient China's vibrancy and ancient noted destina two most noted noted destina two most noted destinations China's vibra noted destina two most noted destinations China's vibrancy
							</p>
						</li>

					</ul>
				</div>







			</div><!-- EDN OF .conbody -->
			<div class="confoot"></div>
		</div><!-- END OF .article -->

		
	</div><!-- END OF .mainbody -->
	{include file="chunk/footer.tpl"}
</div>	<!-- EDN OF .mainwrap -->
</body>
{/block}