{extends file="layout.html"}
{block name=title}扬子江2.0{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/twocol.css">
<link rel="stylesheet" type="text/css" href="style/route.css">
{/block}
{block name=body}
<body>


<div class="wrap">
	{include file="chunk/header.tpl"}
	<div class="mainbody clearfix">
	{include file="chunk/sidebar-route.tpl"}
		<div class="article routewapper clearfix">
			<div class="conhead"></div>
			<div class="conbody clearfix">
				<div id="maincon" class="conbody clearfix">
						
							<h1 style="padding:3px 0px 30px 0px; margin-top:10px">China Yangtze Tours from Hong Kong</h1>
<div id="Hongkongbg">
                                                       <p style="padding:15px 130px 0px 0px">Is <strong>Hong Kong</strong> your gateway to China and float down the famous three Gorges of Yangtze river? Then don't miss our specially designed jourmeys - <strong>China &amp; the Yangtze tour from Hong Kong 2012</strong> !</p>
                            <span style="color:#E56011; font-family:'Times New Roman', Times, serif; font-size:14px">Features:</span>
                            <ul class="u_list">
                              <li class="u_li">
 <strong>Private</strong> - personal guide &amp; driver at your service;
                              </li>
                              <li class="u_li">
 <strong>Customizable</strong> - you're the boss, choose what you like;
                              </li>
                              <li class="u_li">
<strong>Value</strong> - see the best that China has to offer at local price;
                                                           </li>
                              <li class="u_li">
                             Begin with an <strong>in-depth touring of Hong Kong</strong>, the world of possibility; 
                              </li>
                                <li class="u_li">
                             <strong>Yangtze cruise</strong> is the core of each trip; open your senses to the gorges, cultures, Three Gorges Dam, and luxuries are all yours;                               </li>
			</ul>
              </div>
					 <div style="background-image:url(img/list_s.gif); height:25px;"></div>
                    <h2 style="margin-top:-15px" class="margin0"><a href="cruise-from-hongkong/hongkong-guilin-yangtze-cruise.html">China Vibrancy &amp; Idyllic Landscape Tour</a><i class="yellow"> 10 Days</i></h2>
                    <div class="cruise_show">
                    	<div class="cruise_show_left">
                        	<a title="Hong Kong Guilin Yangtze Cruise" href="cruise-from-hongkong/hongkong-guilin-yangtze-cruise.html"><img alt="Hong Kong - guilin- Victoria Prince Yangtze Cruise" class="img_site" src="img/gl.jpg"></a>
                        </div>
                        <div class="cruise_show_right">
                        	 <h4 class="title_h4">Hong Kong-Guilin-Victoria Prince Cruise</h4>
                                        <p class="margin0">Take a 10-day trip to sample China's vibrancy and best landscape under the Heaven in the two most noted destinations.</p>						
                                        <ul class="margin0">
                                        <li>Explore the world class city at your own pace;</li>
                                        <li>Bike around the countryside and experience Chinese village life;</li>
                                        <li>Luxury &amp; relaxing Victoria Prince cruise;</li>
                                        </ul>
                             <a style="float:right;" class="to_details" href="cruise-from-hongkong/hongkong-guilin-yangtze-cruise.html">details</a>
                             <a style="float:right;" class="to_inquiry" href="cruise-from-hongkong/hongkong-guilin-yangtze-cruise.html#inquiry">inquiry</a>
                        </div>
                        <div class="fclear"></div>  
                    </div>
					<h2 class="margin0"><a href="cruise-from-hongkong/hongkong-yangtze-cruise-xian-beijing.html">China Ancient History Tour with Yangtze Cruise</a><i class="yellow"> 11 Days</i></h2>
                    <div class="cruise_show">
                    	<div class="cruise_show_left">
                        	<a title="Hong Kong Xian Beijing Yangtze Cruise" href="cruise-from-hongkong/hongkong-yangtze-cruise-xian-beijing.html"><img alt="Hong Kong Xian Beijing Tour" class="img_site" src="img/xay.jpg"></a>
                        </div>
                        <div class="cruise_show_right">
                        	 <h4 class="title_h4">Hong Kong-Yangtze Cruise-Xian-Beijing</h4>
                                    <p class="margin0">Discover the two ancient hearts of China; see the best parts of China;</p>
                                	<ul class="margin0">
                                    <li>Stay in in the vibrant and bustling city of Hong Kong;</li>
                                    <li>Explore the history of China and man-made wonders;</li>
                                    <li>Yangtze Three Gorges cruise is the spotlight. </li>
                                    </ul>
                             <a style="float:right;" class="to_details" href="cruise-from-hongkong/hongkong-yangtze-cruise-xian-beijing.html">details</a>
                             <a style="float:right;" class="to_inquiry" href="cruise-from-hongkong/hongkong-yangtze-cruise-xian-beijing.html#inquiry">inquiry</a>
                        </div>
                        <div class="fclear"></div>  
                    </div>
                    <h2 class="margin0"><a href="cruise-from-hongkong/hongkong-guilin-yangtze-shanghai.html">China Modernity &amp; Landscape Beauty Tour with Yangtze Crusie</a><i class="yellow"> 11 Days</i></h2>
                    <div class="cruise_show">
                    	<div class="cruise_show_left">
                        	<a title="Hong Kong Guilin Shanghai Yangtze Tour" href="cruise-from-hongkong/hongkong-guilin-yangtze-shanghai.html"><img alt="Hong Kong-Guilin-Yangtze Cruise-Shanghai" class="img_site" src="img/shanghai-bund.jpg"></a>
                        </div>
                        <div class="cruise_show_right">
                        	<h4 class="title_h4">Hong Kong-Guilin-Yangtze Cruise-Shanghai</h4>
                                    <p class="margin0">explore the metropolis and  gorgeous scenery straight out of a painting just relax and take it all in.</p>
                           	    	<ul class="margin0">
                                	<li>great combination of must-see highlights;</li>
                                    <li>authentic activities to engage your inner explorer;</li>
                                    </ul>
                             <a style="float:right;" class="to_details" href="cruise-from-hongkong/hongkong-guilin-yangtze-shanghai.html">details</a>
                             <a style="float:right;" class="to_inquiry" href="cruise-from-hongkong/hongkong-guilin-yangtze-shanghai.html#inquiry">inquiry</a>
                        </div>
                        <div class="fclear"></div>  
                    </div>
					<h2 class="margin0"><a href="cruise-from-hongkong/hongkong-guilin-yangtze-shanghai-beijing.html">Essential China Tour with Yangtze Cruise</a><i class="yellow"> 14 Days</i></h2>
                    <div class="cruise_show">
                    	<div class="cruise_show_left">
                        	 <a title="Hong Kong-Guilin-Yangtze Cruise-Shanghai-Beijing" href="cruise-from-hongkong/hongkong-guilin-yangtze-shanghai-beijing.html"><img width="184" height="128" alt="Hong Kong-Guilin-Yangtze Cruise-Shanghai-Beijing" class="img_site" src="img/mutianyu-wall.jpg"></a>
                        </div>
                        <div class="cruise_show_right">
                        	 <h4 class="title_h4">Hong Kong-Guilin-Yangtze Cruise-Shanghai-Beijing</h4>
                                    <p class="margin0">two-week tour of China's essential best: historical, cultural and natural highlights;</p>
                                	<ul class="margin0">
                                        <li>experience the vibrant rural life and stunning scenery of Yangshuo;</li>
                                        <li>walk back in time along the Great Wall;</li>
                                        <li>get a glimpse of Shanghai's modern life;</li>
                                    </ul>
                             <a style="float:right;" class="to_details" href="cruise-from-hongkong/hongkong-guilin-yangtze-shanghai-beijing.html">details</a>
                             <a style="float:right;" class="to_inquiry" href="cruise-from-hongkong/hongkong-guilin-yangtze-shanghai-beijing.html#inquiry">inquiry</a>
                        </div>
                        <div class="fclear"></div>  
                    </div>
                   <h2 class="margin0"><a href="cruise-from-hongkong/hongkong-guilin-lijiang-yangtze-shanghai.html">China Best Tour Including Yunnan &amp; Yangtze Cruise</a><i class="yellow"> 14 Days</i></h2>
                    <div class="cruise_show">
                    	<div class="cruise_show_left">
                        	 <a title="Best China Tour" href="cruise-from-hongkong/hongkong-guilin-lijiang-yangtze-shanghai.html"><img width="184" height="128" alt="Hong Kong-Guilin-Yunnan-Yangtze Cruise-Shanghai" class="img_site" src="img/yunnan-people.jpg"></a>
                        </div>
                        <div class="cruise_show_right">
                        	 <h4 class="title_h4">Hong Kong-Guilin-Yunnan-Yangtze Cruise-Shanghai</h4>
                                    <p class="margin0">feel the sharp contrast of the ancient and modern China; touch the real local lifestyle; </p>
                                	<ul class="margin0">
                                        <li>gorgeous and spectacular natural views of Yunnan and Guilin; </li>
                                        <li>ethnic cultural charm draws you into an exotic and wonder world; </li>
                                    </ul>
                             <a style="float:right;" class="to_details" href="cruise-from-hongkong/hongkong-guilin-lijiang-yangtze-shanghai.html">details</a>
                             <a style="float:right;" class="to_inquiry" href="cruise-from-hongkong/hongkong-guilin-lijiang-yangtze-shanghai.html#inquiry">inquiry</a>
                        </div>
                        <div class="fclear"></div>  
                    </div>
					<div style="background:url(img/tailor_made_bg.gif); height:94px">
						<div id="made1">
							As always, the above tours can be fully customized to fit your cruise vacation. Just feel free to contact us to customize a China vacation package to your needs and budget!
						</div>
						<div id="made_button">
						<a href="/inquiry/tailor-made-china-yangtze-tour.html" class="tailormade2">Tailor Made China Yangtze Tour</a>
						</div>
					</div>						
					</div>
			</div>
			<div class="confoot"></div>
		</div><!-- END OF .article -->
	</div><!-- END OF .mainbody -->
	{include file="chunk/footer.tpl"}
</div>	<!-- EDN OF .mainwrap -->
</body>
{/block}