{extends file="layout.html"}
{block name=title}YRC Index Page{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/onecol.css">
<link rel="stylesheet" type="text/css" href="style/index.css">

{/block}
{block name=body}
<body>
	<div class="wrap">
		{include file="chunk/header.tpl"}
		<!-- {include file="chunk/breadcrumb.tpl"} -->
		<div class="mainbody home clearfix">

			<div class="rowtop clearfix">
				<div class="rowtopLeft">
					<h1>Your First Stop for a Great Yangtze River Cruise Deal</h1>
					<p>
						Since 1999, yangtze-river-cruises.com has helped thousands of travelers enjoy an unforgettable cruise vacation at the possible lowest price. Offering Yangtze cruises that range from budget to deluxe, there are the most options, including the American Victoria cruise, brand-new President Prime, popular Century cruise, and more.
					</p>
					<p>
						Once you've found your cruise vacation, call us at +86-23-89009012 or e-mail us for a quote or reservation. Our fast quotes and friendly service make booking a breeze.
					</p>
				</div>
				<div class="rowtopRight tc">
                    <h3>Talk to Your Personal Expert </h3>
                    <p>
                        and work out your dream trip together ! 
                    </p>
                    <ul class="tc-list clearfix">
                        <li>
                            <a href="our-team/bruce/"> <img src="http://placehold.it/50x50"><span>Bruce</span></a>
                        </li>
                        <li>
                            <a href="our-team/linda/"> <img src="http://placehold.it/50x50"><span>Linda</span></a>
                        </li>
                        <li>
                            <a href="our-team/laura/"> <img src="http://placehold.it/50x50"><span>Laura</span></a>
                        </li>
                        <li>
                            <a href="our-team/karen/"> <img src="http://placehold.it/50x50"><span>Karen</span></a>
                        </li>
                    </ul>
                    <ul class="roll-tips">

                    	<li>
                    		<span>During the trip:</span>
                    		at your service 7/24;
                    	</li>
                    	<li>
                    		<span>Patient:</span>
                    		fix until you're 100% satisfied;
                    	</li>
                    	<li>
                    		<span>Prompt:</span>
                    		back to you within 0.5~23.5 hrs;
                    	</li>
                    </ul>
                    <p>
    	                <a href="contact-us/" class="btn e-M">Contact them</a>
                    </p>
               
				</div>
			</div>

			<div class="row clearfix">
                <div class="secLeft">
                    <h2>Our Hot Yangtze River Cruise Deals </h2>
                    <p>
                        We guarantee you the lowest price. Tell us the extras, and we'll match it. 
                    </p>
                    <p class="clearfix">
                        <a class="more" href="">>>more ships</a>
                    </p>

                    <ul class="clearfix hotul">
                        <li>
                            <a href=""><img src="http://placehold.it/138x92"></a>
                            <h4><a href="">Victoria Anna</a></h4>
                            <p><img src="/image/5stars.gif"></p>
                            <p>The most luxury ship in Victoria series</p>
                            <p><span class="price">Only <i>$888</i></span></p>
                            <p><a class="btn e-S" href="">Enquiry</a></p>
                        </li>
                        <li>
                            <a href=""><img src="http://placehold.it/138x92"></a>
                            <h4><a href="">Victoria Anna</a></h4>
                            <p><img src="/image/5stars.gif"></p>
                            <p>The most luxury ship in Victoria series</p>
                            <p><span class="price">Only <i>$888</i></span></p>
                            <p><a class="btn e-S" href="">Enquiry</a></p>
                        </li>
                        <li>
                            <a href=""><img src="http://placehold.it/138x92"></a>
                            <h4><a href="">Victoria Anna</a></h4>
                            <p><img src="/image/5stars.gif"></p>
                            <p>The most luxury ship in Victoria series</p>
                            <p><span class="price">Only <i>$888</i></span></p>
                            <p><a class="btn e-S" href="">Enquiry</a></p>
                        </li>
                        <li>
                            <a href=""><img src="http://placehold.it/138x92"></a>
                            <h4><a href="">Victoria Anna</a></h4>
                            <p><img src="/image/5stars.gif"></p>
                            <p>The most luxury ship in Victoria series</p>
                            <p><span class="price">Only <i>$888</i></span></p>
                            <p><a class="btn e-S" href="">Enquiry</a></p>
                        </li>

                    </ul>
                </div>
                <div class="secRight">
                    <dl>
                        <dt>Choose your Ship</dt>
                        <dd><a href="">• Top 5 Most Recommended Ships 2012 </a></dd>
                        <dd><a href="">• Top 3 Most Luxury Ships </a></dd>
                        <dd><a href="">• Top 5 Budget Ships  </a></dd>
                        <dd><a href="">• The Newest Ships </a></dd>
                    </dl>
                    <dl>
                        <dt>Everything about Yangtze Cruise</dt>
                        <dd><a href="">• Onboard Service </a></dd>
                        <dd><a href="">• Onboard Accommodations </a></dd>
                        <dd><a href="">• Onboard Cabins </a></dd>
                        <dd><a href="">• Yangtze Cruise Itineraries </a></dd>
                        <dd><a href="">• Yangtze Cruise FAQs 　</a></dd>
                    </dl>
                </div>
			</div>

			<div class="row clearfix">
                <div class="secLeft">
                    <h2>China Yangtze Tours: <span>visiting hot destinations & cruising the Yangtze River</span></h2>
                    <p>
                        On our all-inclusive tours, you just sit back to enjoy the best of China and Yangtze have to offer, while we take care of all details.
                    </p>
                    <p class="clearfix">
                        <a class="more" href="">>>more ships</a>
                    </p>

                    <dl class="tourdl clearfix">
                        <dd><a href=""><img src="http://placehold.it/90x60"></a></dd>
                        <dt>
                            <h4><a href="">Victoria Anna</a></h4>
                            <p>
                                The most luxury ship in Victoria series,you just sit back to enjoy the best of China and Yangtze have to offer, while we take care of all details.
                            </p>
                        </dt>
                        <dd>
                            <span class="price">Only <i>$888</i></span>
                        </dd>
                    </dl>
                    <dl class="tourdl clearfix">
                        <dd><a href=""><img src="http://placehold.it/90x60"></a></dd>
                        <dt>
                            <h4><a href="">Victoria Anna</a></h4>
                            <p>
                                The most luxury ship in Victoria series,you just sit back to enjoy the best of China and Yangtze have to offer, while we take care of all details.
                            </p>
                        </dt>
                        <dd>
                            <span class="price">Only <i>$888</i></span>
                        </dd>
                    </dl>
                    <dl class="tourdl clearfix">
                        <dd><a href=""><img src="http://placehold.it/90x60"></a></dd>
                        <dt>
                            <h4><a href="">Victoria Anna</a></h4>
                            <p>
                                The most luxury ship in Victoria series,you just sit back to enjoy the best of China and Yangtze have to offer, while we take care of all details.
                            </p>
                        </dt>
                        <dd>
                            <span class="price">Only <i>$888</i></span>
                        </dd>
                    </dl>
                    <dl class="tourdl clearfix">
                        <dd><a href=""><img src="http://placehold.it/90x60"></a></dd>
                        <dt>
                            <h4><a href="">Victoria Anna</a></h4>
                            <p>
                                The most luxury ship in Victoria series,you just sit back to enjoy the best of China and Yangtze have to offer, while we take care of all details.
                            </p>
                        </dt>
                        <dd>
                            <span class="price">Only <i>$888</i></span>
                        </dd>
                    </dl>

                </div>
                <div class="secRight longsec">
                    <dl >
                        <dt>China Yangtze Tour Categoyies</dt>
                        <dd class="light"><a href="">• Top 10 China Yangtze Tour Packages</a></dd>
                        <dd><a href="">• China Cruises & Tours</a></dd>
                        <dd class="light"><a href="">• China Yangtze Tours from Beijing</a></dd>
                        <dd><a href="">• China Yangtze Tours from Shanghai</a></dd>
                        <dd class="light"><a href="">• China Yangtze Tours from Hong Kong 　</a></dd>
                    </dl>
                </div>
			</div><!-- end of .row -->

            <div class="zonewrap clearfix">
                <div class="zoneSide">
                    <h3>Recent Inquiries</h3>
                    <div class="Recent-Inquiry">
                        <ul>

                            <li style="display: list-item;">
                                On <em>Aug/25/2012</em>
                                &nbsp;
                                <span class="name">bri...</span> <em>from</em>
                                <span class="title">australian</span>
                                <br>                    
                                <span class="title">
                                    <a href="http://www.yangtze-river-cruises.com/cruise-from-beijing-xian/beijing-xian-yangtze-cruise.html">Inquiry:9 Days Beijing Xian &amp; Yangt...</a>
                                </span>
                            </li>
                            <li style="display: list-item;">
                                On
                                <em>Aug/24/2012</em>
                                &nbsp;
                                <span class="name">Pat...</span>
                                <em>from</em>
                                <span class="title">USA</span>
                                <br>                    
                                <span class="title">
                                    <a href="http://www.yangtze-river-cruises.com/ships/yangtze-explorer.html">Inquiry:Yangtze Cruise Yangtze Expl...</a>
                                </span>
                            </li>
                            <li style="display: list-item;">
                                On
                                <em>Aug/20/2012</em>
                                &nbsp;
                                <span class="name">pan...</span>
                                <em>from</em>
                                <span class="title">us</span>
                                <br>                    
                                <span class="title">
                                    <a href="http://www.yangtze-river-cruises.com/ships/yangtze-explorer.html">Inquiry:Yangtze Cruise Yangtze Expl...</a>
                                </span>
                            </li>
                            <li style="display: list-item;">
                                On
                                <em>Aug/17/2012</em>
                                &nbsp;
                                <span class="name">Naj...</span>
                                <em>from</em>
                                <span class="title">USA</span>
                                <br>                    
                                <span class="title">
                                    <a href="http://www.yangtze-river-cruises.com/cruise-from-beijing-xian/beijing-xian-guilin-yangtze-shanghai-huangshan.html">Inquiry:Yangtze River Cruises Book...</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="zoneCenter">
                    <h3>Lowest Price Guaranteed</h3>
                    <ul class="zoneReview clearfix">
                        <li>
                            <div class="review-con">
                                <a href="">
                                    See for yourself what Yangtze-River is all about!See for yourself what Yangtze-River...
                                </a>
                            </div>
                            <div class="author">
                                <img src="/image/avatar.jpg">By xxx
                            </div>
                        </li>
                        <li>
                            <div class="review-con">
                                <a href="">
                                    See for yourself what Yangtze-River is all about!See for yourself what Yangtze-River...
                                </a>
                            </div>
                            <div class="author">
                                <img src="/image/avatar.jpg">By xxx
                            </div>
                        </li>
                    </ul>
                    <p><a class="more" href="">>>More reviews</a></p>
                </div>
                <div class="zoneSide" >
                    <h3>Our Travel Style</h3>
                    <ul class="ts">
                        <li>Private travel consultant</li>
                        <li>Private tour guides</li>
                        <li>Private air-conditioned </li>
                    </ul>
                    <p>
                        We came back just as the final preparations were being done for the Olympics-Beijing had had...
                    </p>
                </div>
            </div>

            <div class="botRow">
                <h3>Why Book a Cruise from Us</h3>
                <dl class="clearfix">
                    <dd>
                        <h4>Lowest Price Guaranteed</h4>
                        <p>
                            Our award-winning trips embrace authentic accommodation and local transportation to bring you face to face with the world’s most fascinating cultures, customs and awe-inspiring wildlife.
                        </p>
                    </dd>
                    <dt>
                        <h4>Lowest Price Guaranteed</h4>
                        <p>
                            Our award-winning trips embrace authentic accommodation and local transportation to bring you face to face with the world’s most fascinating cultures, customs and awe-inspiring wildlife.
                        </p>
                    </dt>
                    <dd>
                        <h4>Lowest Price Guaranted</h4>
                        <p>
                            Our award-winning trips embrace authentic accommodation and local transportation to bring you face to face with the world’s most fascinating cultures, customs and awe-inspiring wildlife.
                        </p>
                    </dd>
                </dl>

                <h2><a href="">More Reasons to Cruise with Us</a></h2>
            </div>

			



		</div><!-- END OF .mainbody -->
		{include file="chunk/footer.tpl"}
	</div><!-- END OF .wrap -->
</body>
{/block}