{extends file="layout.html"}
{block name=title}扬子江2.0{/block}
{block name=head}
{/block}
{block name=body}
<body>
<div id="wrap">
	{include file="header.tpl"}
	
	<div id="menu">
		<ul class="clearfix">
			<li class="active">
				<a href="/" class="home">Home</a>
			</li>
			<li>
				<a href="tour.html">China Yangtze Tours</a>
			</li>
			<li>
				<a href="ships.html" class="menucurr">Ships</a>
			</li>
			<li class="active">
				<a href="http://www.yangtze-river-cruises.com/calendar/calendar2012-7.html" class="menucalendar">Calendar 2012</a>
				<div class="new"></div>
			</li>
			<li>
				<a href="yangtze-river-guide.html">Cruise Guide</a>
			</li>
			<li>
				<a href="experience.html">Onboard</a>
			</li>
			<li>
				<a href="about-us.html">About Us</a>
			</li>
		</ul>
	</div>
	<div id="mainbody" class="clearfix">
		<div class="breadcrum">
			You are here:
			<span class="B_crumbBox">
				<span class="B_firstCrumb">
					<a class="B_homeCrumb" href="/index.html" title="Yangtze River Cruise Home Page">Home</a>
				</span>
				&gt;
				<a class="B_crumb" href="/ships.html" title="Yangtze River Cruise Ships">Yangtze Cruise Ships</a>
				&gt;
				<span class="B_lastCrumb">
					<span class="B_currentCrumb">Victoria Jenna Cruise</span>
				</span>
			</span>

		</div>

		<h1>Yangtze River Cruise Calendar in July, 2012</h1>
		<p>
			To help you find the ideal Yangtze cruise ship more easily, we classify the following chart more clearly, so please be patinet, and follow your travel date to find a perfect ship. If you don't find anyone, please feel free to contact our cruise experts online or drop us a line, and we'll try our best to contact you within 0.5 hour. 
		</p>

<script type="text/javascript">
	window.onload = initialize;
	function initialize(){
		var url = window.location.toString();

		if(window.location.hash){
				
				// 改变li当前项样式
				$(".tabnav li").each(function(){

					var year_var = window.location.hash.slice(2,6);
					if($(this).text() == year_var){
						$(this).addClass('active').siblings().removeClass("active");
					}
				});

				$(".tabmonth li").each(function(){

					var month_var = window.location.hash.slice(6);
					if($(this).attr("ref") == month_var){
						$(this).addClass('active').siblings().removeClass("active");
					}
				});


			$(window).trigger("hashchange");

		}else{
			// 定位到当前年月
			var now = new Date();
			var year_var = now.getFullYear();
			var month_var = now.getMonth() + 1;

			// hash改变 会自动促发hashchange事件
			window.location.hash = "#!"+year_var+month_var; 

			// 改变li当前项样式
			$(".tabnav li").each(function(){

					var year_var = window.location.hash.slice(2,6);
					if($(this).text() == year_var){
						$(this).addClass('active').siblings().removeClass("active");
					}
				});

				$(".tabmonth li").each(function(){

					var month_var = window.location.hash.slice(6);
					if($(this).attr("ref") == month_var){
						$(this).addClass('active').siblings().removeClass("active");
					}
				});

		}
	};
</script>
		<div id="can-nav">
			<ul class="tabnav clearfix">
				<li>2012</li>
				<li>2013</li>
			</ul>
			<ul class="tabmonth clearfix">
					<li ref="1">Jan.</li>
					<li ref="2">Feb.</li>
					<li ref="3">Mar.</li>
					<li ref="4">Apr.</li>
					<li ref="5">May.</li>
					<li ref="6">June.</li>
					<li ref="7">July.</li>
					<li ref="8">Aug.</li>
					<li ref="9">Sept.</li>
					<li ref="10">Oct.</li>
					<li ref="11">Nov.</li>
					<li ref="12">Dec.</li>
			</ul>
			<!-- <ul class="place">
				<li>Cruise Date</li>
				<li>Chongqing - Yichang<br>(downstream 4days)</li>
				<li>Yichang - Chongqing (downstream 4days)</li>
				<li>Chongqing - Shanghai (downstream 4days)</li>
				<li>Shanghai - Chongqing (downstream 4days)</li>
			</ul> -->
			<table>
				<tr>
					<th>Date</th>
					<th>Chongqing - Yichang<br>(downstream 4days)</th>
					<th>Chongqing - Yichang<br>(downstream 4days)</th>
					<th>Chongqing - Yichang<br>(downstream 4days)</th>
					<th>Chongqing - Yichang<br>(downstream 4days)</th>
				</tr>
			</table>

		</div>
		<div class="tabunit">
			
			<table>
				<!-- <tr>
					<th>Date</th>
					<th>Chongqing - Yichang<br>(downstream 4days)</th>
					<th>Chongqing - Yichang<br>(downstream 4days)</th>
					<th>Chongqing - Yichang<br>(downstream 4days)</th>
					<th>Chongqing - Yichang<br>(downstream 4days)</th>
				</tr> -->
				<tr>
					<td>
						<div class="date">July 13 <br><i>Fri</i></div>
					</td>
					<td>
						* Victoria Anna  super-5 star   <i>$305-$410</i><br>
						* Victoria Anna  super-5 star   <i>$305-$410</i><br>
						* Victoria Anna  super-5 star   <i>$305-$410</i><br>
						* Victoria Anna  super-5 star   <i>$305-$410</i>
					</td>
					<td>
						* Victoria Anna  super-5 star   <i>$305-$410</i><br>
						* Victoria Anna  super-5 star   <i>$305-$410</i><br>
						* Victoria Anna  super-5 star   <i>$305-$410</i><br>
						* Victoria Anna  super-5 star   <i>$305-$410</i>
					</td>
					<td>
						No availbale
					</td>
					<td>
						No availbale
					</td>
				</tr>

				<tr>
					<td>
						<div class="date">July 13 <br>Fri</div>
					</td>
					<td>
						* Victoria Anna  super-5 star   $305-$410<br>
						* Victoria Anna  super-5 star   $305-$410<br>
						* Victoria Anna  super-5 star   $305-$410<br>
						* Victoria Anna  super-5 star   $305-$410
					</td>
					<td>
						* Victoria Anna  super-5 star   $305-$410<br>
						* Victoria Anna  super-5 star   $305-$410<br>
						* Victoria Anna  super-5 star   $305-$410<br>
						* Victoria Anna  super-5 star   $305-$410
					</td>
					<td>
						No availbale
					</td>
					<td>
						No availbale
					</td>
				</tr>
			</table>
		</div>
	</div>

	{include file="footer.tpl"}
</div>
</body>
{/block}