{extends file="layout.html"}
{block name=title}YRC Index Page{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/onecol.css">
<link rel="stylesheet" type="text/css" href="style/index.css">

{/block}
{block name=body}
<body>
	<div class="wrap">
		{include file="chunk/header.tpl"}
		<!-- {include file="chunk/breadcrumb.tpl"} -->
		<div class="mainbody home clearfix">

			<div class="rowtop clearfix">
				<div class="rowtopLeft">
					<h1>Your First Stop for a Great Yangtze River Cruise Deal</h1>
					<p>
						Since 1999, yangtze-river-cruises.com has helped thousands of travelers enjoy an unforgettable cruise vacation at the possible lowest price. Offering Yangtze cruises that range from budget to deluxe, there are the most options, including the American Victoria cruise, brand-new President Prime, popular Century cruise, and more.
					</p>
					<p>
						Once you've found your cruise vacation, call us at +86-23-89009012 or e-mail us for a quote or reservation. Our fast quotes and friendly service make booking a breeze.
					</p>
				</div>
				<div class="rowtopRight tc">


                <h3>Talk to Your Personal Tibet Travel Expert </h3>
                <p>
                    and work out your dream trip together ! 
                </p>
                <ul class="tc-list clearfix">
                    <li>
                        <a href="our-team/bruce/"> <img src="http://placehold.it/50x50"><span>Bruce</span></a>
                    </li>
                    <li>
                        <a href="our-team/linda/"> <img src="http://placehold.it/50x50"><span>Linda</span></a>
                    </li>
                    <li>
                        <a href="our-team/laura/"> <img src="http://placehold.it/50x50"><span>Laura</span></a>
                    </li>
                    <li>
                        <a href="our-team/karen/"> <img src="http://placehold.it/50x50"><span>Karen</span></a>
                    </li>
                </ul>
                <ul class="roll-tips">

                	<li>
                		<span>During the trip:</span>
                		at your service 7/24;
                	</li>
                	<li>
                		<span>Patient:</span>
                		fix until you're 100% satisfied;
                	</li>
                	<li>
                		<span>Prompt:</span>
                		back to you within 0.5~23.5 hrs;
                	</li>
                </ul>
                <p>
	                <a href="contact-us/" class="btn e-M">Contact them</a>
                </p>
           

				</div>
			</div>

			<div class="row clearfix">

			</div>

			<div class="row clearfix">

			</div>

			



		</div><!-- END OF .mainbody -->
		{include file="chunk/footer.tpl"}
	</div><!-- END OF .wrap -->
</body>
{/block}