{extends file="layout.html"}
{block name=title}YRC ship page{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/onecol.css">
<link rel="stylesheet" type="text/css" href="style/shipindex.css">
{/block}
{block name=body}
<body>
<div class="wrap">

{include file="chunk/header.tpl"}

<div class="mainbody shipindex clearfix">

		<h1>Yangtze Cruise Routes Comparsion </h1>
	<div class="secLeft">
		<p>
			Make your cruise extra fun with our Yangtze shore excursions, to get a unique insight into the history of the region, the culture of the people and the beauty of the natural landscape.
			Make your cruise extra fun with our Yangtze shore excursions, to get a unique insight into the history of the region, the culture of the people.
		</p>

		<div class="secIn clearfix">
			<h3>Nangtz Cruise Routes Comparison</h3>
			<p>
				The shortest cruise rute at the lowest price chosen by budget travelers who are also short in time. who also short in time.
				All essentiial parts of Three Gorgers cruise are included and package with a land tour in Wanzhou 
			</p>
			<div class="stream-wrap clearfix">
			
				<div class="ups">
					<h4>Chongqing - Yichang (4D & 3N) Yangtze Downstream Cruise</h4>
					<ul>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
					</ul>
					<p class="topline">
						*Click the ship name for detailed information
					</p>
					<dl>
						<dt>Deluxe Yangtze Cruise Ships</dt>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
					</dl>
					<dl>
						<dt>Deluxe Yangtze Cruise Ships</dt>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
					</dl>
					<span class="stream-bg"><b>Up</b> stream</span>
				</div>
				<div class="downs">
					<h4>Chongqing - Yichang (4D & 3N) Yangtze Downstream Cruise</h4>
					<ul>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
					</ul>
					<p class="topline">
						*Click the ship name for detailed information
					</p>
					<dl>
						<dt>Deluxe Yangtze Cruise Ships</dt>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
					</dl>
					<dl>
						<dt>Deluxe Yangtze Cruise Ships</dt>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
						<dd>
							<a href="" alt="">Yangtze Explore</a>
							<p>(Super 5-star)</p>
						</dd>
					</dl>
					<span class="stream-bg"><b>Down</b> stream</span>
				</div>
			</div><!-- end of .stream-wrap -->

			<h3>Nangtz Cruise Routes Comparison</h3>
			<p>
				The shortest cruise rute at the lowest price chosen by budget travelers who are also short in time. who also short in time.
				All essentiial parts of Three Gorgers cruise are included and package with a land tour in Wanzhou 
			</p>
			<div class="stream-wrap clearfix">
			
				<div class="ups">
					<h4>Chongqing - Yichang (4D & 3N) Yangtze Downstream Cruise</h4>
					<ul>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
					</ul>
					<span class="stream-bg"><b>Old</b> fashion</span>
				</div>
				<div class="downs">
					<h4>Chongqing - Yichang (4D & 3N) Yangtze Downstream Cruise</h4>
					<ul>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
					</ul>
					<span class="stream-bg"><b>Newly</b> built</span>
				</div>
			</div><!-- end of .stream-wrap -->

			<div class="stream-wrap clearfix">
			
				<div class="ups">
					<h4>Chongqing - Yichang (4D & 3N) Yangtze Downstream Cruise</h4>
					<ul>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
					</ul>
					<span class="stream-bg"><b>5</b> star</span>
				</div>
				<div class="downs">
					<h4>Chongqing - Yichang (4D & 3N) Yangtze Downstream Cruise</h4>
					<ul>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
						<li>
							4 Days and 3 Nights downsteam Curise from Chongqing to Yichang
						</li>
					</ul>
					<span class="stream-bg"> <b>4 </b>star</span>
				</div>
			</div><!-- end of .stream-wrap -->

		</div>
	</div><!-- end of .secLeft -->
	<div class="secRight">
		<div class="box">
			<h3>Yangtze Cruise Calendar</h3>
			<ul class="departure clearfix">
				<li class="expire">
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
			</ul>
			<p><a class="fr" href=''>>>2013</a></p>

		</div>
		<div class="box flower-rt">
			<h3>Yangtze Ship Comparsions</h3>
			<p>
				To make select your best cruise eaiser, you can compare:
			 </p>
			 <ol>
			 	<li>by ship star</li>
			 	<li>by cruise line </li>
			 	<li>by ship size </li>
			 	<li>by cruise routes</li>
			 </ol>
			 <div class="hrdash"></div>
			 <br>
			 <p>
			 	Or, your can rely on our tops to make your choise much easier.
			 </p>
			 <ol>
			 	<li> Top Luxury Yangtze Cruises</li>
			 	<li>Top Budget Yangtze Cruises</li>
			 	<li>Most Popular Yangtze Cruises</li>
			 	<li>Best Value Yangtze Cruises </li>
			 </ol>
		</div>
		<div class="box">
			<h3>Important Info before Cruise</h3>
			<p>
				To make select your best cruise eaiser, you can compare:
			</p>
			<ol>
				<li>by ship star</li>
				<li>by cruise line </li>
				<li>by ship size </li>
				<li>by cruise routes</li>
				<li>by ship size </li>
				<li>by cruise routes</li>
			</ol>
		</div>


		
	</div>

</div><!-- END OF .mainbody -->

{include file="chunk/footer.tpl"}
</div><!-- END OF .wrap -->
</body>
{/block}