{extends file="layout.html"}
{block name=title}扬子江2.0{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/twocol.css">
<link rel="stylesheet" type="text/css" href="style/route.css">
<link rel="stylesheet" type="text/css" href="script/fancybox/jquery.fancybox-1.3.4.css">
<script type="text/javascript" src="script/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="script/route.js"></script>
{/block}
{block name=body}
<body>
	<div class="wrap">
		{include file="chunk/header.tpl"}
		<div class="mainbody clearfix">
			{include file="chunk/sidebar-route.tpl"}
			<div class="article routewapper clearfix">
				<div class="conhead"></div>
				<div class="conbody clearfix">
					<h1>8 Days Beijing Yangtze Cruise Tour</h1>
					<p class="destination">
						Beijing - Xian - Chongqing - Yangtze  Cruise - Yichang
					</p>
					<div class="overview clearfix">
						<img class="themeimg" src="http://placehold.it/270x180">
						<dl>
							<dt>
								Tour Code:
							</dt>
							<dd>
								YRC-BJ-03
							</dd>
							<dt>
								Departure:
							</dt>
							<dd>
								You Choose!
							</dd>
							<dt>
								Service:
							</dt>
							<dd>
								private tour guide/driver &amp; private car/van
							</dd>
							<dt class="pf">
								Price from:
							</dt>
							<dd class="pfr">
								<b class="pr">$888</b>
								<span class="why"> <img src="image/icon-why.png"> <span class="explainbox"> &bull;This price range is based on a standard cabin for twin sharing.
										<br>
										&bull;This price is valid until Dec.31st, 2013.
										<br>
										&bull;Please enquiry for the exact price according to your nationality, cruising time and cruising route. </span> </span>
								<a class="enquiry" href=""></a>
							</dd>
						</dl>
						<h2>Trip Info & Details</h2>
					</div>
					<div class="to">
						<h4>Trip overview:</h4>
						<p>
							Walk the Great Wall of China and stare down Terra cotta soldiers in Xian. To get close to the iconic Giant Panda and cruise through the Three Gorges along the Yangtze. This itinerary introduces a fascinating route from North to South of China.
						</p>
					</div>
					<div class="route">
						<div class="route_day">
							<div class="ht1">
								<h3>Sample Itinerary Overview</h3>
								<h4 class="daytitle" id="tvdaytitle">Day 1 Guilin Arrival ( L )</h4>
							</div>
							<div class="cont">
								<p>
									<strong>Welcome to Guilin, the city with the most beautiful landscape under the earth!</strong>
									Our local tour guide and driver will meet and escort you to your hotel in Guilin from the airport. Rest of the day is free for you to explore!
								</p>
							</div>
							<img width="120" height="96" src="assets/images/china-yangtze-cruise/li-river185.gif" alt="Beautiful Guilin Landscape" title="Beautiful Guilin Landscape" class="fleft">
						</div>
						<div class="cruiseform">
							<div class="formwarp">
								<span class="exit_ico"></span>
								<h2></h2>
								<form>
									<input type="hidden" value="FullName, EmailAdress" name="required">
									<input id="inqtype" type="hidden" value="7" name="inqtype">
									<script type="text/javascript" language="javascript">
										document.write("<input name=\"PageTitle\" value=\"" + document.title + "\" type=\"hidden\" />");
										document.write("<input name=\"PageLink\" value=\"" + document.href + "\" type=\"hidden\" />");
										document.write("<input type=\"hidden\" name=\"Ref_Page\" value=\"" + document.referrer + "\" />");

									</script>
									<input type="hidden" value="159" name="pfid">
									<input id="subject" type="hidden" value="Inquiry:Yangtze Cruise [*h1title*] Book" name="subject">
									<div class="self">
										<div class="self-left">
											<p>
												Please tell us more about your travel plans within just a few simple steps. We'll get back to you with a quotation in 0.5~23.5hrs.
											</p>
											<fieldset>
												<legend>
													Tell us about yourself
												</legend>
												<label>Title:</label>
												<select class="required" name="Title">
													<option value="mr" selected="selected">Mr.</option>
													<option value="mrs">Mrs.</option>
													<option value="ms">Ms.</option>
												</select>
												<label> <img src="image/required.gif" alt="Required"> Your Full Name: </label>
												<input class="required" type="text" name="FullName">
												<label>Nationality:</label>
												<input type="text" name="Nationality">
												<label> <img src="image/required.gif" alt="Required"> Your Email </label>
												<input class="required email" type="text" name="EmailAdress">
												<label>Contact Phone Number:</label>
												<input type="text" name="phone-num">
											</fieldset>
										</div>
										<div class="self-right">
											<div class="formrightinfo">
												<h3 class="">Your Booking Summary</h3>
												<p>
													<strong>Tour name:</strong> 8 days best of China tour
												</p>
												<strong>Assitionals:</strong>
												<ul class="assition">
													<li>
														*3 days tour of Guilin;
													</li>
													<li>
														*3 days tour of Guilin;
													</li>
												</ul>
												<p>
													Price from <span class="red">$362-$425</span> per person
												</p>
											</div>
											<h3>Book with us:</h3>
											<ul>
												<li>
													Absolutly no hidden fees;
												</li>
												<li>
													Guarantee you the lowest cruise price;
												</li>
												<li>
													One-on-one travel consultant service;
												</li>
												<li>
													Ensure you a worry-free vacation in China;
												</li>
											</ul>
										</div>
										<div style="clear:both;"></div>
									</div>
									<div class="status">
										<label>Age:</label>
										<input type="radio" value="<25" name="Age">
										<span>under 25</span>
										<input class="rdo" type="radio" value="25-34" name="Age">
										<span>25-34</span>
										<input class="rdo" type="radio" value="35-54" name="Age">
										<span>35-54</span>
										<input class="rdo" type="radio" value="55-75" name="Age">
										<span>55-75</span>
										<input class="rdo" type="radio" value=">75" name="Age">
										<span>75 above</span>
										<br>
										<label>Booking Status:</label>
										<input type="radio" value="Ready to Book" name="booking">
										<span>Ready to Book</span>
										<input class="rdo" type="radio" value="Urgent" name="booking">
										<span>Urgent</span>
										<input class="rdo" type="radio" value="Planning" name="booking">
										<span>Seriously Planning</span>
										<input class="rdo" type="radio" value="Better Quote" name="booking">
										<span>Looking for a Better Quote</span>
									</div>
									<fieldset>
										<legend>
											Tell us more about your cruise
										</legend>
										<label>Your travel date:</label>
										<select name="ddate">
											<option id="c7" value="">--date</option>
											<option id="c1" value="1">1</option><option id="c2" value="2">2</option><option id="c3" value="3">3</option>
											<option id="c4" value="4">4</option><option id="c5" value="5">5</option><option id="c6" value="6">6</option>
											<option id="c7" value="7">7</option><option id="c5" value="8">8</option><option id="c6" value="9">9</option>
											<option id="c1" value="10">10</option><option id="c2" value="11">11</option><option id="c3" value="12">12</option>
											<option id="c4" value="13">13</option><option id="c5" value="14">14</option><option id="c6" value="15">15</option>
											<option id="c7" value="16">16</option><option id="c5" value="17">17</option><option id="c6" value="18">18</option>
											<option id="c1" value="19">19</option><option id="c20" value="2">20</option><option id="c3" value="21">21</option>
											<option id="c4" value="22">22</option><option id="c5" value="23">23</option><option id="c6" value="24">24</option>
											<option id="c7" value="25">25</option><option id="c5" value="26">26</option><option id="c6" value="27">27</option>
											<option id="c7" value="28">28</option><option id="c5" value="29">29</option><option id="c6" value="30">30</option>
											<option id="c7" value="31">31</option>
										</select>
										<select name="month">
											<option value="">--Month</option>
											<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
											<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option>
											<option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
										</select>
										<select name="year">
											<option value="">--Year</option>
											<option value="2012">2012</option><option value="2013">2013</option>
										</select></br>
										<label>Your hotel class:</label>
										<select class="w200" name="HotelClass">
											<option selected="selected" value="Luxury Class">Luxury Class</option>
											<option value="Comfortable Class">Comfortable Class</option>
											<option value="Economy Class">Economy Class</option>
										</select></br>
										<label>No. of Travelers:</label>
										<select class="w90" name="AdultsNumber">
											<option value="Adoults">Adoults</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value=">10">>10</option>
										</select>
										<img width="10" height="10" alt="Required" src="image/required.gif">
										<select class="w90" name="ChildrenNumber">
											<option value="Children">Children</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
										</select>
										<label>Num og Rooms:</label>
										<input id="RoomNum" class="w200" type="text" name="RoomNum">
										<label>Your Budget:</label>
										<input id="budget" class="txt" name="Budget">
										<br>
										<label>Additonal Comment or Qusetions:</label>
										<textarea class="ptxt" rows="5" cols="" name="Comments"></textarea>
									</fieldset>
									<a class="button" href="javascript:Submitform()"> <img id="sbt1" border="0" onmouseout="mymouseout1()" onmouseover="mymouseover1()" name="sbt1" src="http://www.yangtze-river-cruises.com/forms/submit1.gif"> </a>
								</form>
							</div>
						</div>
						<div class="route_day">
							<div class="ht2">
								<h4 class="daytitle">Day 2 Guilin Li River Cruise &amp; Yangshuo Town (B, L)</h4>
							</div>
							<div class="cont">
								<p>
									After breakfast today, you’ll be driven to <strong>Zhujiang Pier</strong>
									(40-minute drive) to start your boat cruise down the picturesque Li River, which is the highlight of any visit to Guilin, until you get to <strong>Yangshuo County</strong>
									. Along the river, you’ll be inspired by breathtaking views of peaks and pinnacles, crystal-clear water and picturesque pastoral views of rice paddies and water buffaloes. Visitors feel they have stepped into a traditional Chinese painting. After checking into your hotel in Yangshuo, free to explore the beautiful town and its famous <strong>West Street</strong>
									.
								</p>
							</div>
							<img width="120" height="96" src="assets/images/china-yangtze-cruise/cycling-yangshuo185.gif" alt="Cycling around the Paradise Yangshuo Town" title="Cycling around the Paradise Yangshuo Town" class="fleft">
						</div>
					</div>
				
					<div style="display:none;">
						<div id="data">
							<h2>Quotation Includes:</h2>
							<li>
								A. Entrance fees of the scenic spots as listed in the itinerary.
							</li>
							<li>
								B. Meals as specified in the itinerary.(Exceptions: If the western breakfast is not available in some of the hotels, breakfast would be either Chinese breakfast or Chinese and western breakfast.)
							</li>
							<li>
								C. Hotels: Hotel Based on two persons sharing one room with twin beds or a king size bed; All hotels as listed in the above itinerary serve daily western or Chinese breakfast; Please note double bed room is on request basis which is subject to Hotel's availability and re-confirmation upon check-in.
								<br>
								* Service, room facilities and breakfast might be not up to standard in some remote areas.
							</li>
							<li>
								D. Transportation: Flights or train as listed in the itinerary.
							</li>
							<li>
								E. Sightseeing: As listed in the Itinerary will be escorted with English-speaking guide;       Service of local guide and van is for a maximum of 8 hours during the full day individual       tour packages.
								<br>
								* Please note that our English-speaking guide and driver provided for you in each city or       area will not fly with you from one city to another.
							</li>
							<li>
								F. Private Transfers between airports, hotels and scenic spots while sightseeing in each city    or area by private air-conditioned vehicle with driver and English-speaking guide as listed    in the itinerary.
							</li>
							<li>
								G. Service Charge (the planning, handling, operational and communication charges) & Government    Taxes.
							</li>
							<li>
								H. Luggage Transfers between airports, trains and hotels.
							</li>
							<h2> Price excludes: </h2>
							<li>
								A. Flights (Economy class) not as listed in the itinerary.
							</li>
							<li>
								B. Accommodation not as listed in the itinerary.
							</li>
							<li>
								C. Visa Fees: Please make sure that you have got your valid passport and visa before your entry    to China. We can send you a free official invitation letter to assist you in obtaining your    visa after the reservation deposit is received.
							</li>
							<li>
								D. Sightseeing not listed in the itinerary.
							</li>
							<li>
								E. Meals not listed in the itinerary.
							</li>
							<li>
								F. Personal expenses such as room service, internet charge, laundry, drink, fax, telephone    call, optional activities, etc.
							</li>
							<li>
								G. Gratuities, tips to guides, drivers, bellboys, etc.
							</li>
							<li>
								H. Excess Baggage Charges.
							</li>
							<li>
								I. Life Tourist insurance. Please kindly note that the full coverage travel insurance from your    country of origin should be purchased in advance on your own.
							</li>
							<li>
								J. Optional activities.
							</li>
						</div>
					</div>
					<div class="aside">
						<dl class="tips">
							<dt>
								Price from <i>$6,500</i>
								<br>
								<span>*Per person </span>
							</dt>
							<dd>
								<a class="priceinclude" href="#data">What's included?</a>
								<a class="priceinclude" href="#data">What's not included?</a>
							</dd>
							<dd>
								<a class="btn" href=""></a>
							</dd>
							<dd>
								Call: 86-028-82956496
							</dd>
						</dl>
					</div>
				</div>
				<div class="confoot"></div>
			</div><!-- END OF .article -->
		</div><!-- END OF .mainbody -->
		{include file="chunk/footer.tpl"}
	</div>
	<!-- EDN OF .mainwrap -->
</body>
{/block}