{extends file="layout.html"}
{block name=title}扬子江2.0{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/twocol.css">
<link rel="stylesheet" type="text/css" href="style/route.css">
{/block}
{block name=body}
<body>

<script type="text/javascript">
$(function(){

	if($('.tips').length) { 
		var offset = $(".tips").offset(); 
		var topPadding = 15; 
		$(window).scroll(function() { 
			if ($(window).scrollTop() > offset.top){ 

				$(".tips").stop().animate({ 
					marginTop: $(window).scrollTop() - offset.top + topPadding 
				}); 

			} else { 

				$(".tips").stop().animate({ 
					marginTop: 0 
				}); 

			}; 
		}); 
	}; 

})
</script>

<div class="wrap">
	{include file="chunk/header.tpl"}
	<div class="mainbody clearfix">
	{include file="chunk/sidebar-route.tpl"}
		<div class="article clearfix">
			<div class="conhead"></div>
			<div class="conbody clearfix">
				<h1>8 Days Beijing Yangtze Cruise Tour</h1>
				<p class="destination">
					Beijing - Xian - Chongqing - Yangtze  Cruise - Yichang
				</p>
				<div class="overview clearfix">
					<img src="http://placehold.it/270x180">
					<h3>Overview:</h3>
					<dl>
						<dt>Tour Code:</dt>
						<dd>YRC-BJ-03</dd>
						<dt>Departure Date:</dt>
						<dd>You Choose!</dd>
						<dt>Service:</dt>
						<dd>private tour guide/driver &amp; private car/van</dd>
					</dl>
					<h4>Trip overview:</h4>
					<p>
						Walk the Great Wall of China and stare down Terra cotta soldiers in Xian. To get close to the iconic Giant Panda and cruise through the Three Gorges along the Yangtze. This itinerary introduces a fascinating route from North to South of China.
					</p>
					<p class="socialbar">
						social zone
					</p>
				</div>
				
				<h2>Itinerary Details - day by day</h2>	
				<div class="route">
					<ul>
						<li>
							<span class='day'>Day 1</span>
							<h3>Bangkok to Chiang Mai >></h3>
							<p>
								First stop this morning is Bangkok’s increble RoyalPalace..........................
							</p>
						</li>

						<li>
							<span class='day'>Day 1</span>
							<h3>Bangkok to Chiang Mai >></h3>
							<p>
								First stop this morning is Bangkok’s increble RoyalPalace..........................
							</p>
						</li>
					</ul>
				</div>

			<div class="aside">
				<dl class="tips">
					<dt>
						Price from <i>$6,500</i> 
						<br>
						*Per person 
					</dt>
					<dd>
						<a href="">What's included?</a>
						<a href="">What's not included?</a>
					</dd>
					<dd>
						<a class="btn" href="">Get a Quote</a>
					</dd>
					<dd>
						Chat with expert online<br>
						Call us: 86-028-82956496
					</dd>
				</dl>
			</div>
			</div>
			<div class="confoot"></div>
		</div><!-- END OF .article -->
	</div><!-- END OF .mainbody -->
	{include file="chunk/footer.tpl"}
</div>	<!-- EDN OF .mainwrap -->
</body>
{/block}