{extends file="layout.html"}
{block name=title}YRC ship page{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/onecol.css">
<link rel="stylesheet" type="text/css" href="style/shipindex.css">
{/block}
{block name=body}
<body>
<div class="wrap">

{include file="chunk/header.tpl"}

<div class="mainbody shipindex clearfix">
	<h1>Yangtze River Cruise Ships</h1>

	<div class="">
		<p>
			<img class="fr" src="http://placehold.it/340x200">

			From the super 5-Star Yangtze Explorer Cruise to the budget 4-star President No.3, whether you're looking for a comfortable and luxury Victoria Jenna, being a big fan of the popular Century Diamond or just want to experience the newest President Prime cruise, we can help you book a cruise at the LOWEST price.

		</p>

		<div class="row-top">
			<ul> 
				<li class="active">Cabin </li> 
				<li>Deckplan</li>
				<li>Itineraries</li>
				<li>Life onboard</li>
				<li>Practical Info</li>
				<li>Price Guide</li>
			</ul>
			<a class="enquiry"></a>
		</div>



		
	</div>

</div><!-- END OF .mainbody -->

{include file="chunk/footer.tpl"}
</div><!-- END OF .wrap -->
</body>
{/block}