{extends file="layout.html"}
{block name=title}YRC ship page{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/onecol.css">
<link rel="stylesheet" type="text/css" href="style/shipindex.css">
{/block}
{block name=body}
<body>
<div class="wrap">

{include file="chunk/header.tpl"}

<div class="mainbody shipindex clearfix">
	<h1>Yangtze River Cruise Ships</h1>

	<div class="secLeft">
		<p>
			From the super 5-Star Yangtze Explorer Cruise to the budget 4-star President No.3, whether you're looking for a comfortable and luxury Victoria Jenna, being a big fan of the popular Century Diamond or just want to experience the newest President Prime cruise, we can help you book a cruise at the LOWEST price.
		</p>

		<dl class="hotdeal clearfix">
			<dt class="clearfix"><h3>Our Hot Deals</h3><span>Guarantee you the lowest price.</span></dt>
			<dd>
				<a href="">
					<h4>luxury ship in Victo</h4>
					<p><img src="/image/5star.gif" width="80"></p>
					<p><img src="http://placehold.it/140x80"></p>
					<p>The most luxury ship in Victoria series</p>
					<p><span class="price">Only <i>$408</i></span></p>
				</a>
			</dd>
			<dd>
				<a href="">
					<h4>luxury ship in Victo</h4>
					<p><img src="/image/5star.gif" width="80"></p>
					<p><img src="http://placehold.it/140x80"></p>
					<p>The most luxury ship in Victoria series</p>
					<p><span class="price">Only <i>$408</i></span></p>
				</a>
			</dd>
			<dd>
				<a href="">
					<h4>luxury ship in Victo</h4>
					<p><img src="/image/5star.gif" width="80"></p>
					<p><img src="http://placehold.it/140x80"></p>
					<p>The most luxury ship in Victoria series</p>
					<p><span class="price">Only <i>$408</i></span></p>
				</a>
			</dd>
			<dd>
				<a href="">
					<h4>luxury ship in Victo</h4>
					<p><img src="/image/5star.gif" width="80"></p>
					<p><img src="http://placehold.it/140x80"></p>
					<p>The most luxury ship in Victoria series</p>
					<p><span class="price">Only <i>$408</i></span></p>
				</a>
			</dd>



		</dl>

		<div class="tabone">
			<h3>Victoria Cruise</h3>
			<p class="fp">The most popular in the past years; the only american-managed cruise on Yangtze River.</p>
			<table>
				<tr>
					<th></th>
					<th>Victoria Ships</th>
					<th>Departure & Itinerary</th>
					<th>Price only </th>
					<th>Enquiry</th>
				</tr>
				<tr class="eventr">
					<td class="leftd" rowspan="5">
						<img src="http://placehold.it/80x80">
					</td>
					<td>
						<a href="">Victoria Jenna</a><br>
						<span><img src="/image/5star.gif" width="80"></span>
					</td>
					<td>
						Every Friday: Chongqing - Yichang<br>
						Every Friday: Chongqing - Yichang  
					</td>
					<td><span class="price"><i>$328-$408</i></span></td>
					<td><a class="btn e-S" href="">Enquiry</a></td>
				</tr>
				<tr>
					<td>
						<a href="">Victoria Jenna</a><br>
						<span><img src="/image/5star.gif" width="80"></span>
					</td>
					<td>
						Every Friday: Chongqing - Yichang<br>
						Every Friday: Chongqing - Yichang  
					</td>
					<td><span class="price"><i>$328-$408</i></span></td>
					<td><a class="btn e-S" href="">Enquiry</a></td>
				</tr>
				<tr class="eventr">
					<td>
						<a href="">Victoria Jenna</a><br>
						<span><img src="/image/5star.gif" width="80"></span>
					</td>
					<td>
						Every Friday: Chongqing - Yichang<br>
						Every Friday: Chongqing - Yichang  
					</td>
					<td><span class="price"><i>$328-$408</i></span></td>
					<td><a class="btn e-S" href="">Enquiry</a></td>
				</tr>
			</table>
		</div>


	</div>
	<div class="secRight">
		<div class="box">
			<h3>Yangtze Cruise Calendar</h3>
			<ul class="departure clearfix">
				<li class="expire">
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
				<li>
					<a href="">
						<b>Jan.</b>
						<span>2012</span>
					</a>
				</li>
			</ul>
			<p><a class="fr" href=''>>>2013</a></p>

		</div>
		<div class="box flower-rt">
			<h3>Yangtze Ship Comparsions</h3>
			<p>
				To make select your best cruise eaiser, you can compare:
			 </p>
			 <ol>
			 	<li>by ship star</li>
			 	<li>by cruise line </li>
			 	<li>by ship size </li>
			 	<li>by cruise routes</li>
			 </ol>
			 <div class="hrdash"></div>
			 <br>
			 <p>
			 	Or, your can rely on our tops to make your choise much easier.
			 </p>
			 <ol>
			 	<li> Top Luxury Yangtze Cruises</li>
			 	<li>Top Budget Yangtze Cruises</li>
			 	<li>Most Popular Yangtze Cruises</li>
			 	<li>Best Value Yangtze Cruises </li>
			 </ol>
		</div>
		<div class="box">
			<h3>Important Info before Cruise</h3>
			<p>
				To make select your best cruise eaiser, you can compare:
			</p>
			<ol>
				<li>by ship star</li>
				<li>by cruise line </li>
				<li>by ship size </li>
				<li>by cruise routes</li>
				<li>by ship size </li>
				<li>by cruise routes</li>
			</ol>
		</div>
	</div>

</div><!-- END OF .mainbody -->

{include file="chunk/footer.tpl"}
</div><!-- END OF .wrap -->
</body>
{/block}