{extends file="layout.html"}
{block name=title}Sitemap{/block}
{block name=head}
  <link href="/css/mypage.css" rel="stylesheet" type="text/css"/>
  <script src="/js/mypage.js"></script>
  <style>
  *{
    padding:0;
    margin:0;
    font-family:Arial;
  }
  div{
    width:200px;
    min-height:500px;
    float: left;
    background:#dddddd;
  }
  div a{
    display:block;
    text-decoration:none;
    padding:1px 10px;
    color:#434343;
    font-family:Verdana;
  }
  div a:hover{
    background:#cccccc;
  }
  h3{
    padding:5px 10px;
    
  }
  </style>
{/block}
{block name=body}
<body>
<div>
<h3>onecol</h3>
<a href="index.php?url=index.html">index</a>
<a href="index.php?url=calendar.html">calendar</a>
<a href="index.php?url=ship.html">ship</a>
<a href="index.php?url=travelguide.html">travelguide</a>
<a href="index.php?url=shipindex.html">shipindex</a>
<a href="index.php?url=tailormade.html">tailormade</a>
<a href="index.php?url=shipcompany.html">shipcompany</a>
</div>

<div>
  <h3>twocol</h3>
  <a href="index.php?url=route.html">route</a>
  <a href="index.php?url=tourindex.html">tourindex</a>
  <a href="index.php?url=top10.html">top10</a>
  <a href="index.php?url=guide.html">guide</a>
  <a href="index.php?url=chinacruise.html">chinacruise</a>
  <a href="index.php?url=aboutus.html">aboutus</a>
</div>
</body>
{/block}

