{extends file="layout.html"}
{block name=title}YRC ship page{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/onecol.css">
<link rel="stylesheet" type="text/css" href="style/tailormade.css">
{/block}
{block name=body}
<body>
<div class="wrap">

{include file="chunk/header.tpl"}

<div class="mainbody clearfix">
	<div class="clearfix">
	<div class="tmview">
		<h1>Customize Your China Tour or Cruise on Your Own</h1>
		<p> 
			<b>When planning a holiday, not everyone wants the same thing.</b>
			This is why our travel specialists come into the picture. Let us know where you'd like to go, any tour that you'd like to customize, or you can add your own unique touch and combine two tours. Tailor-made journeys are something we're very good at.
		</p>
	</div>
	<div class="tmtip">
		<ol>
			<li>Completing this form will not commit you to either taking a tour or any expenses.</li>
			<li>It's totally FREE!</li>
			<li>Our experts will get back to you within 24 hours.</li>
			<li>Based in Lhasa, you can rely on our knowledge!</li>
		</ol>	
	</div>
	</div>

	<div class="container">
		<h2 class="">
			<span class="num">1</span>
			Your Ideal Itinerary &amp; Destinations
		</h2>

	</div>



</div><!-- END OF .mainbody -->

{include file="chunk/footer.tpl"}
</div><!-- END OF .wrap -->
</body>
{/block}