{extends file="layout.html"}
{block name=title}YRC ship page{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/travelguide.css">
{/block}
{block name=body}
<body>
<div class="wrap">

{include file="chunk/header.tpl"}

<div class="mainbody clearfix">
	<div class="conbodyone clearfix">
		<h1>
			Yangtze River Cruise Guide	
		</h1>
		<b>
			Just everything about your furthure Yangtze River cruise and tour.  
		</b>
		<p>
			If not finding the information below, please feel free to call us at : 028- or email us at info@yangtze-river-cruises.com, and we'll do everything in our power to answer your questions within 0.5~12 hrs. 	
		</p>




		<h3 class="bgtitle">
			<span>Most Important Info <img src="/image/bgtitle.png"></span>

			<div class="control">
				<ul class="controlli">
					<li class="prev"></li>
					<li class="next"></li>
				</ul>
				<ul class="pageli">
					<li></li>
					<li></li>
					<li class="current"></li>
					<li></li>
				</ul>
				
			</div>
		</h3>
		<div class="sboxwrap clearfix">
		<div class="wbox clearfix">
			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/11.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/12.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/13.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/14.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

		</div>
		</div><!-- 1 -->




		<h3 class="bgtitle">
			<span>Yangtze Cruise Reviews<img src="/image/bgtitle.png"></span>
			<div class="control">
				<ul class="controlli">
					<li class="prev"></li>
					<li class="next"></li>
				</ul>
				<ul class="pageli">
					<li></li>
					<li></li>
					<li class="current"></li>
					<li></li>
				</ul>
				
			</div>
		</h3>
		<div class="sboxwrap clearfix">
		<div class="wbox clearfix">
			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/21.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/22.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/23.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

	
		</div>
		</div><!-- 2 -->


		<h3 class="bgtitle">
			<span>Yangtze Cruise Onboard<img src="/image/bgtitle.png"></span>
			<div class="control">
				<ul class="controlli">
					<li class="prev"></li>
					<li class="next"></li>
				</ul>
				<ul class="pageli">
					<li></li>
					<li></li>
					<li class="current"></li>
					<li></li>
				</ul>
				
			</div>
		</h3>
		<div class="sboxwrap clearfix">
		<div class="wbox clearfix">
			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/31.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/32.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/33.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/34.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>		
		</div>
		</div><!-- 3 -->


		<h3 class="bgtitle">
			<span>Shore Excursion Sites<img src="/image/bgtitle.png"></span>
			<div class="control">
				<ul class="controlli">
					<li class="prev"></li>
					<li class="next"></li>
				</ul>
				<ul class="pageli">
					<li></li>
					<li></li>
					<li class="current"></li>
					<li></li>
				</ul>
				
			</div>
		</h3>
		<div class="sboxwrap clearfix">
		<div class="wbox clearfix">
			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/41.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/42.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/43.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/44.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>		
		</div>
		</div><!-- 4 -->


		<h3 class="bgtitle">
			<span>Ports of Call<img src="/image/bgtitle.png"></span>
			<div class="control">
				<ul class="controlli">
					<li class="prev"></li>
					<li class="next"></li>
				</ul>
				<ul class="pageli">
					<li></li>
					<li></li>
					<li class="current"></li>
					<li></li>
				</ul>
				
			</div>
		</h3>
		<div class="sboxwrap clearfix">
		<div class="wbox clearfix">
			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/51.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/52.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/53.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/54.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>		
		</div>
		</div><!-- 5 -->


		<h3 class="bgtitle">
			<span>Ports of Call<img src="/image/bgtitle.png"></span>
			<div class="control">
				<ul class="controlli">
					<li class="prev"></li>
					<li class="next"></li>
				</ul>
				<ul class="pageli">
					<li></li>
					<li></li>
					<li class="current"></li>
					<li></li>
				</ul>
				
			</div>
		</h3>
		<div class="sboxwrap clearfix">
		<div class="wbox clearfix">
			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/61.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="/image/guide/62.jpg" width="200" height="110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>
			
		</div>
		</div><!-- 6 -->



	</div><!-- END OF .conbody -->
</div><!-- END OF .mainbody -->

	{include file="chunk/footer.tpl"}
</div><!-- END OF .wrap -->
</body>
{/block}