{extends file="layout.html"}
{block name=title}YRC ship page{/block}
{block name=head}
<link rel="stylesheet" type="text/css" href="style/guide.css">
<script type="text/javascript" src="script/ship.js"></script>
<script src="http://releases.flowplayer.org/js/flowplayer-3.2.11.min.js"></script>
{/block}
{block name=body}
<body>
<div class="wrap">

{include file="chunk/header.tpl"}

<div class="mainbody clearfix">
	<div class="conbodyone clearfix">
		<h1>
			Yangtze River Cruise Guide	
		</h1>
		<b>
			Just everything about your furthure Yangtze River cruise and tour.  
		</b>
		<p>
			If not finding the information below, please feel free to call us at : 028- or email us at info@yangtze-river-cruises.com, and we'll do everything in our power to answer your questions within 0.5~12 hrs. 	
		</p>




		<h3 class="bgtitle"><span>Most Important Info<img src="/image/bgtitle.png"></span></h3>
		<div class="sboxwrap clearfix">
			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="http://placehold.it/200x110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="http://placehold.it/200x110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="http://placehold.it/200x110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="http://placehold.it/200x110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

		</div>


		<h3 class="bgtitle"><span>Most Important Info<img src="/image/bgtitle.png"></span></h3>
		<div class="sboxwrap clearfix">
			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="http://placehold.it/200x110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="http://placehold.it/200x110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="http://placehold.it/200x110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

			<div class="sbox">
				<h4>How to get there?</h4>
				<img src="http://placehold.it/200x110">
				<ol>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
					<li><a href="">How to get there?</a></li>
				</ol>
			</div>

		</div>
	</div><!-- END OF .conbody -->
</div><!-- END OF .mainbody -->

	{include file="chunk/footer.tpl"}
</div><!-- END OF .wrap -->
</body>
{/block}